<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="container">
    <div id="whoami" style="width:200px; height:200px; float:left">
      <h1>Name</h1>
      <p>어마마마</p>
    </div>
    <div id="detail" style="width:200px; height:200px; float:left">
      <h1>그다음 올 문장은 ?</h1>
      <p>통촉하여 주시옵소서!</p>
    </div>
    <div id="img" style="width:200px; height:200px; float:left">
      <img src="img.png" style="width: 180px; height: 180px;">
    </div>
  </div>
</body>
</html>