<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- Web에서는 크게 Get, Post 방식의 데이터 전송법이 있다.
       여태까지 Get을 활용하였는데 이번에는 Post를 사용해봤다.
       Post를 사용하는 이유에 대해서는 Spring 진도를 조금 더 나간 후에 진행하도록 한다.
       form의 디폴트 method는 get이고 post를 사용할 경우 아래와 같이 사용한다.
       또한 action은 맵핑될 URL 주소를 적는다.
       method가 get이면 GetMapping, post면 PostMapping을 사용한다. -->
  <form action="/memberRegister" method="post">
    <input type="text" title="e-mail">
    <input type="submit" value="가입">
  </form>
</body>
</html>