<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/js/prompt.css">
</head>
<body>
    <h1>자바스크립트의 세계에 오신것을 환영합니다.</h1>

    <script>
        // 나는 자바처럼 주석을 달 수 있어
        /* 요렇게도 가능하지 */
        // prompt()는 화면에 입력창을 띄워준다.
        // 입력한 내용을 name 변수에 저장한다.
        // (javascript는 python 처럼 변수 타입 지정이 필요없다 - var, let 으로 알아서 처리함)
        // document.write()는 HTML 페이지에 지정한 문자열을 박아서 표현한다.
        var name = prompt("Enter your name: ");
        document.write("<b><big>" + name + "</big></b> go go go!!!");
    </script>
</body>
</html>