<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <html>
  <head>
    <title> </title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap&subset=korean" rel="stylesheet">
    <!-- <style> : <head> 아네 위치해야 함 -->
    <style>
td  {background-color:#FFFFFF; height:30px;}
.ti {font-weight:bold; font-size:12px; text-align:center;}
body {font-family: 'Nanum Myeongjo', serif;}

</style>

  </head>
  </head>
<body>

<center><h1 style='font-family: 굴림; font-size:20px; font-weight:bold; text-decoration:underline;'>이&nbsp;력&nbsp;서</h1></center>
<table cellspacing='1' cellpadding='0' border='0' bgcolor='#00000' align='center'>
  <tr>
    <td colspan='3' rowspan='3' width='120' class='ti'><img src="img0614.jpg"  width='120' class='ti' ></td>
    <td rowspan='2' class='ti' width='100'><center>성&nbsp;명</center></td>
    <td rowspan='2' width='150'> <center>문성호</center> </td>
    <td colspan='2' class='ti' width='200'>주 민 등 록 번 호</td>
  </tr>
  <tr>
    <td colspan='2'><center>123456-1234567</center></td>
  </tr>
  <tr>
    <td colspan='4' style='font-size:12px;'>
      <div class="container">
        <div class="wrapper">
          <p>생년월일 : 1993년 7월 10일생</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan='3' class='ti'>주 소</td>
    <td colspan='4' class='ti'><center> --</center> </td>
  </tr>
  <tr>
    <td class='ti' colspan='3' rowspan='2'>연락처</td>
    <td class='ti'>집</td>
    <td><center>--</center></td>
    <td class='ti' rowspan='2' width='100'>전자우편</td>
    <td rowspan='2'><center>--</center></td>
  </tr>
  <tr>
    <td class='ti'>핸드폰</td>
    <td><center>--</center></td>
  </tr>
  <tr>
    <td colspan='7' class='ti'> 기타 사항 </td>
  </tr>
  <tr>
    <td><center>유튜브</center> </td>
    <td colspan='5'> <center> 롤토픽 </center></td>
    <td><center><a href="https://www.youtube.com/c/%EB%A1%A4%ED%86%A0%ED%94%BDLOLTOPIC/featured"> 바로가기</a><center></td>
  </tr>


</table>

</body>
</html>
