<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="detail">
        <h2>프로그래밍 언어</h2>
        <ul>
            <li>Golang</li>
            <li>Rust</li>
            <li>zzz</li>
          <li>zzz</li>
          <li>zzz</li>
          <li>zzz</li>
          <li>zzz</li>
          <li>zzz</li>
          <li>zzz</li>
        </ul>
        <h3 style="visibility: visible">세부사항</h3>

        //document.querySelector('#detail h3').style.visibility; -> console에다 써보자
        //이걸로 원하는 걸 받아다 js에 활용 가능
        //list = document.querySelectorAll('#detail')
        //

        <p style="visibility: hidden">개 많다</p>
        <h3> 너무 많아 </h3>
        <p> 오지게 많아 </p>
    </div>
</body>
</html>