<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="container" >
    <div id="digimon" style="width:200px; height:200px; float:left" >
      <h1>Name</h1>
      <p>디지몬</p>
    </div>
    <div id="poketmon" style="width:200px; height:200px; float:left">
      <h1>Name2</h1>
      <p>포켓몬</p>
    </div>
    <div id="img" style="width:200px; height:200px; float:left">
      <img src="img.png" style="width:180px; height:180px">
    </div>
  </div>

</body>
</html>