<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
     var formObj = $("#join");

    $("#btnJoin").on("click", function() {
      formObj.attr("action", "join");
      formObj.attr("method", "post");
      formObj.submit();
    });

    $("#btnLogin").on("click", function() {
      self.location = "login";
    });
  });
</script>

<body>
<h2>Join Now!!</h2>
<form id="join" th:action="@{join}" th:object="${join}" method="post">
    <table>
        <tr>
            <td>id</td>
            <td><input type="text" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="password" name="pw" th:field="*{pw}"></td>
        </tr>
        <tr>
            <td>name</td>
            <td><input type="text" name="name" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>gender</td>
            <td><input type="text" name="gender" th:field="*{gender}"></td>
        </tr>
        <tr>
            <td>birth</td>
            <td><input type="text" name="birth" th:field="*{birth}"></td>
        </tr>
        <tr>
            <td>e-mali</td>
            <td><input type="text" name="email" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>phone</td>
            <td><input type="text" name="tel" th:field="*{tel}"></td>
        </tr>
        <tr>
            <td>address</td>
            <td><textarea cols="20" rows="5" name="addr" th:field="*{addr}"></textarea></td>
        </tr>
    </table>
</form>
<div>
    <button type="submit" id="btnJoin">Join</button>
    <button type="submit" id="btnLogin">Login</button>

</div>
</body>
</html>