<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이력서</title>


</head>
<body>
  <table border="1" width="800">
    <tr>
      <th rowspan="5" width="700">
        사진
      </th>
    </tr>
      <th colspan="7" hegit="50"><font size="6">이 력 서</font>

      </th>


    <tr>

      <th rowspan="2" height="40" width="200" bgcolor="#f8f8ff">성 명</th>
      <th height="30" width="300" bgcolor="#f8f8ff">한글</th>
      <td width="1000"></td>


      <th height="30" width="500" bgcolor="#f8f8ff">생 년 월 일</th>
      <td width="1000"></td>
    </tr>
    <tr>
      <th height="30" width="200" bgcolor="#f8f8ff">영문</th>
      <td width="1000"></td>

      <th height="30" bgcolor="#f8f8ff" width="400">인턴경력</th>
      <td></td>

    </tr>
    <tr>
      <th colspan="2" height="30" bgcolor="#f8f8ff" width="400">연락처</th>
      <td width="1000"></td>
      <th height="30" width="400" bgcolor="#f8f8ff">이메일</th>
      <td width="1000"></td>
    </tr>
    <tr>
      <th height="35" bgcolor="#f8f8ff" width="350">주소</th>
      <td colspan="6"></td>

    </tr>


    <th colspan="7" bgcolor="#f8f8ff" >학 력 사 항
    </th>
    <tr>
      <th hegit="30"  bgcolor="#f8f8ff" width="500">학교</th>
      <td width="800"></td>
      <th  bgcolor="#f8f8ff" width="500">기간</th>
      <th>~</th>
      <th bgcolor="#f8f8ff">전공</th>
      <td></td>
    </tr>
    <tr>
      <th hegit="30"  bgcolor="#f8f8ff" width="500">학교</th>
      <td width="800"></td>
      <th  bgcolor="#f8f8ff" width="500">기간</th>
      <th>~</th>
      <th bgcolor="#f8f8ff">전공</th>
      <td></td>
    </tr>
    <tr>
      <th hegit="30"  bgcolor="#f8f8ff" width="500">학교</th>
      <td width="800"></td>
      <th  bgcolor="#f8f8ff" width="500">기간</th>
      <th>~</th>
      <th bgcolor="#f8f8ff">전공</th>
      <td></td>
    </tr>

    <tr>
      <th colspan="7" hegit="50" bgcolor="#f8f8ff">자격취득사항
      </th>
    </tr>
    <tr>
    <th hegit="30"  bgcolor="#f8f8ff" width="400" rowspan="4">자격증명</th>
    <td width="800"></td>
    <th  bgcolor="#f8f8ff" width="400" rowspan="4">실행기관</th>
    <th></th>
    <th bgcolor="#f8f8ff" >취득년월</th>
    <td></td>
    </tr>
    </tr>
    <tr>

      <td width="800"></td>

      <th></th>
      <th bgcolor="#f8f8ff">취득년월</th>
      <td></td>
    </tr>
    </tr>
    <tr>

      <td width="800"></td>

      <th></th>
      <th bgcolor="#f8f8ff">취득년월</th>
      <td></td>
    </tr>
    </tr>
    <tr>

      <td width="800"></td>

      <th></th>
      <th bgcolor="#f8f8ff">취득년월</th>
      <th></th>
    </tr>

    <tr></tr>

    <tr>
      <th rowspan="3" bgcolor="#f8f8ff">수상내역</th>
      <td></td>
      <th bgcolor="#f8f8ff">내용</th>
      <td></td>
      <th bgcolor="#f8f8ff">기관</th>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <th bgcolor="#f8f8ff">내용</th>
      <td></td>
      <th bgcolor="#f8f8ff">기관</th>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <th bgcolor="#f8f8ff">내용</th>
      <td></td>
      <th bgcolor="#f8f8ff">기관</th>
      <td></td>
    </tr>
  </table>

    <table border="1" width="800" >
    <div style="padding:10px;">

    </div>

    <tr>
       <th colspan="7" bgcolor="#f8f8ff">특이사항</th>
    </tr>


    <tr>
      <th width="200" bgcolor="#f8f8ff" height="60">취미</th>
      <td></td>
      <th width="200" bgcolor="#f8f8ff">특기</th>
      <td></td>

    </tr>



  </table>

</body>
</html>