div {
    margin: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


#inline img {
    /* 디폴트가 display: inline
       디폴트를 block으로 하려면 따로 diplay: block으로 따로 설정해야한다. */
    /* inline은 무조건 가로로 나오는가?
       꽉 차면 아래로 배치됨 */
    margin: 10px;
}


#block img {
/* block은 무조건 세로로 나옴 */
    display: block;
    margin: 10px;
}