<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <fieldset>
    <legend>수강 신청 하시오!</legend>
    <ul>
      <li>
        <label for="lectures">교과목</label>
        <select id="lectures">
          <optgroup label="컴퓨터공학">
            <option value="os">운영체재 개론</option>
            <option value="ddd">도메인 주도 개발</option>
            <option value="tdd">테스트 주도 개발</option>
            <option value="dp">디자인패턴</option>
            <option value="vue">뷰</option>
            <option value="react">리액트</option>
          </optgroup>
          <optgroup label="전기 공학">
            <option value="circue">리액트</option>
            <option value="circue">리액트</option>
            <option value="circue">리액트</option>
          </optgroup>
          <optgroup label="곤충이야기">
            <option value="사슴벌레">왕사슴벌레</option>
            <option value="풍뎅이">장수풍뎅이</option>
          </optgroup>
        </select>
      </li>
    </ul>
  </fieldset>

</form>
</body>
</html>