<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    ul{
    list-style: none;
    }
    li{
    margin: 20px; /* 여백입니다 */
    /* label은 칸을 나누는 쓰임새로 라벨을 넣어주면 자동적으로 칸을 나누어준다 .*/
    }
  </style>
</head>
<body>
<h3>1개만 선택할수있습니다.!</h3>
<li><label><input type="radio" name="subject" value="grammer">영문법</label>
    <input type="radio" name="subject" value="grammer">영문법
</li>

<li><label><input type="radio" name="subject" value="writting">영작문</label>
    <input type="radio" name="subject" value="writting">영작문
</li>

<li><label><input type="radio" name="subject" value="reading">영독해</label>
    <input type="radio" name="subject" value="reading">영독해
</li>

<li><label><input type="radio" name="subject" value="listening">영어듣기</label>
    <input type="radio" name="subject" value="listening">영어듣기
</li>
</body>
</html>