<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      ul {
      list-styleL none; //옆에 동그라미가 사라진다
      }
      li {
      margin: 20px;
      }
    </style>
</head>
<body>
  <h3>당신에게 적합한</h3>
  <ul>
      <li><input type="checkbox" value="gramma"></li>
    <li><input type="checkbox" value="writting">영작문</li>
    <li><input type="checkbox" value="reading">영독해</li>
    <li><input type="checkbox" value="listening">영어 듣기</li>
  </ul>
</body>
</html>