<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
          initial-scale=1.0"/>
    <title>Coundown Timer</title>
  <link rel="stylesheet" href="/css/mainPage.css?2">

</head>
<body>
<div id="page-container">
    <h1>종강까지</h1>
    <div class="countdown-container">
        <div class="countdown days">
            <p class="big-text" id="days">0</p>
            <span class="times">days</span>
        </div>
        <div class="countdown hours">
            <p class="big-text" id="hours">0</p>
            <span class="times">hours</span>
        </div>
        <div class="countdown mins">
            <p class="big-text" id="mins">0</p>
            <span class="times">mins</span>
        </div>
        <div class="countdown seconds">
            <p class="big-text" id="seconds">0</p>
            <span class="times">seconds</span>
        </div>
    </div>
</div>
    <h5 id="bottom">종강일 : 2021년 12월 8일</h5>
<script src="/js/mainPage.js?1"></script>
</body>
</html>