<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="container">
  <div id="whami" style="width:200px; height:200px; float:left">
    <h1>Name</h1>
    <p>엄마</p>
  </div>
  <div id="detail" style="width:200px; height:200px; float:left">
    <h1>다음 올 문장은 ?</h1>
    <p> 봐주세요 </p>
  </div>
  <div id="img" style="width:200px; height:200px; float:left">
    <img src="IMG_0687.jpeg"style="width:250px; height:250px;">
  </div>
</div>
</body>
</html>