<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>게시판 목록 보기</h2>
<a href="/b_register">글쓰기</a>
<table border="1">
  <tr>
    <th align="center" width="100">번호</th>
    <th align="center" width="640">제목</th>
    <th align="center" width="150">작성자</th>
    <th align="center" width="240">등록일자</th>
  </tr>
  <tr th:if="${#lists.isEmpty(lists)}">
    <td colspan="4">
      현재 등록된 게시물이 없습니다!
    </td>
  </tr>
  <tr th:each="board : ${lists}">
    <td align="center" th:text="${board.boardNo}"></td>
    <td align="left"><a th:href="@{|b_read?boardNo=${board.boardNo}|}" th:text="${board.title}"></a></td>
    <td align="right" th:text="${board.writer}"></td>
    <td align="center" th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
  </tr>
</table>
</body>
</html>