<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
    border: 1px solid #00000;
    }
    td, th {
    padding: 10px;
    }
    </style>
</head>
<body>
  <table>

    <caption>
      <strong>이력서(resume)</strong>
    <p>누구도 나를 막을 순 없어~~</p>
    </caption>
    <tr>
      <th>Browser</th>
      <th>Vendor</th>
      <th>Downloads</th>
    </tr>
    <tr>
      <th>Chrome</th>
      <td>Google</td>
      <td>https://www.google.com/chrome/</td>
    </tr>
    <tr>
      <th>Firefox</th>
      <td>Mozilla</td>
      <td>https://www.mozilla.org/ko/firefox</td>
    </tr>
  </table>
</body>
</html>