<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- style에 적용하면 전체에 적용됨 -->
    <style>
        p {
            font-size: 32px;  /* 글자 크기 */ /* << css에서 주석다는 법 */
            line-height: 45px; /* 줄 간격 */
        }
    </style>
</head>
<body>
<!-- strong:, b:강조 -->
<!-- em:, i: 이탤릭체 -->
<!-- br: 줄바꿈 -->
    <h2>go Language</h2>
    <p><strong>Rust </strong>, C, <b>jAVA</b> Python</p>
    <p><em>List</em>, Fortran, <i>JavaScript</i>, asm <br> FPGA Verilog</p>
</body>
</html>
