<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2_zu</title>
    <style>
        h1 {
        text-align: center;
        font-size: 40px;
        }
        ul{
        font-size: 30px;
        }
    </style>
</head>
<body>
<h1><mark style="color: skyblue">2_zu Resume</mark></h1>
<table>
    <tr>
        <th><img src = "pic.jpg" width="400" height="500"></th>
        <th>
            <ul>
                <li><span style= "color: red">이주형</span></li>
                <li><span style="color: orange">@2_zu</span></li>
                <li><span style ="color:blue">spmen12@gmail.com</span></li>
            </ul>
        </th>
    </tr>
    <tr>
        <th>
            <ul>
                <li><b>한국해양대학교</b></li>
                <li><mark style="background-color:orange;">한진해운</mark></li>
                <li>SM상선</li>
            </ul>
        </th>
        <th><img src = "IMG_3017.JPG" width="600" height="440"></th>
    </tr>
    <tr>
        <th><img src = "eee.jpg" width="320" height="480"></th>
        <th>
            <ul>
                <li><strong>티파니스냅 파리 메인작가</strong></li>
            </ul>
        </th>
    </tr>
</table>
</body>
</html>