<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
     table, th, td {
      border: 1px solid #000000;
    }
    td, th {
      padding: 10px; /* 셀 테두리와 내용 사이의 간격(패딩) */
    }
  </style>
</head>
<body>
  <table>
    <caption> <!-- caption, figcaption을 통해 표에 제목을 붙일 수 있음 -->
      <strong>이력서(Resume)</strong>
      <p>i am.....</p>
    </caption>
    <tr>
      <th>Browser</th>
      <th>Vendor</th>
      <th>DownLoads</th>
    </tr>
    <tr>
      <th>chrome</th>
      <td>Google</td>
      <td>https://www.google.com/chrome/</td>
    </tr>
    <tr>
      <th>Firefox</th>
      <td>Mozilla</td>
      <td>https://www.mozilla.org/ko/firefox</td>
    </tr>
  </table>
</body>
</html>