div {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.grad {
    background: purple;
    background: -webkit-linear-gradient(left top, blue, white);
    background: -moz-linear-gradient(left top, blue, white);
    background: -o-linear-gradient(left top, blue, white);
    background: linear-gradient(left top, blue, white);
}