<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/basic/text-align.css">
</head>
<body>
<h1>텍스트 정렬 기법</h1>
<p class="align-text">
  으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.
</p>
<p class="align-right">
  으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.
</p>
<p class="align-center">
  으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.
</p>
<p class="align-justify">
  으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.으늘도 간다. 내일도 간다 .모레도간다 . 일주일이 간다.
</p>


</body>
</html>