<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>divTest3</title>
</head>
<body>
<div id= "container">
  <div id = whoAmI style="width:200px; height:200px; float:left">
    <h1>name</h1>
    <p>Samuel</p>
  </div>
  <div id="detail" style="width:200px; height:200px; float:left">
    <h1>div2</h1>
    <p>division</p>
  </div>
  <div id = "img" style="width:200px; height:200px; float:left">
    <img src="eee.jpg" width="320" height="480">
  </div>
  <div style="width:200px; height:200px; float:right">
    <p>float right 적용</p>
  </div>
</div>
</body>
</html>