<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    $(document).ready(function() {

        var joinObj = $("#customer");


        $("#btnJoin").on("click", function() {
            var passwordObj = $("#password");
            alert("passwordObj: " + JSON.stringify(customer));

            joinObj.attr("action", "join");
            // PostMapping
            joinObj.attr("method", "post");
            joinObj.submit();
        });
        $("#btnCancel").on("click",function() {
        self.location = "lists";
        });
    });
</script>

<body>
<h2>회원가입</h2>

<form id="customer" th:action="@{join}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td>아이디</td>

            <td><input type="text" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>비밀번호</td>

            <td><input type="password" name="password" th:field="*{password}" id="password"></td>
        </tr>
        <tr>
            <td>비밀번호확인</td>

            <td><input type="password" name="password2" id="password2">
                <button onclick="checkPw()" id="btnPw">비밀번호확인</button></td>
        </tr>
        <tr>
            <td>이름</td>

            <td><input type="text" name="name" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td><input type="text" name="birth" th:field="*{birth}"></td>
        </tr>
        <tr>
            <td>주소</td>

            <td><input type="text" name="adress" th:field="*{adress}"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input type="text" name="phone" th:field="*{phone}"></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="text" name="email" th:field="*{email}"></td>
        </tr>
    </table>
</form>

<div>
    <button type="submit" id="btnJoin">회원가입</button>
    <button type="submit" id="btnCancel">돌아가기</button>
</div>

</body>
</html>