<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <style>
    table, th, td {
       border: 3px solid #000000;
      }
      th {
      padding: 80px; /* 셀 테두리와 내용 사이의 간격(패딩) */
      }
      tr > td:nth-child(odd) {
      width: 240px;  /* 홀수번째 열의 너비 지정 */
      }
      tr > td:nth-child(even) {
      width: 400px; /* 짝수번째 열의 너비 지정 */
      }
  </style>
</head>


<body>
<table>
    <caption>
        <strong><h1> <font size="7" color="#4B0082">Resume</font> </h1></strong>
    </caption>
    <tr>
        <th rowspan="2" ><img src="img_1.png" /></th>

        <th bgcolor="E0FFFF">Date of birth</th>
        <td align="center" bgcolor="FFFFE0">DD / MM / YY</td>
        <th bgcolor="E0FFFF">최종학력</th>
        <td colspan="6" bgcolor="FFFFE0"></td>
    </tr>
    <tr>
        <th bgcolor="E0FFFF">Address</th>
        <td colspan="5" bgcolor="FFFFE0"></td>
    </tr>


    <tr>
        <th bgcolor="E0FFFF">Self Introduction</th>
        <td colspan="6" bgcolor="FFFFE0"></td>

    </tr>

    <tr>
        <th bgcolor="E0FFFF">Computer Technician</th>
        <td colspan="6" bgcolor="FFFFE0"></td>
    </tr>

    <tr>
        <th bgcolor="E0FFFF">Network Technician</th>
        <td colspan="6" bgcolor="FFFFE0"></td>
    </tr>
    <tr>
        <th bgcolor="E0FFFF">Technical Skills</th>
        <td colspan="6" bgcolor="FFFFE0"></td>
    </tr>

</table>
</body>
</html>



<!--                                   -->