<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/Reservation/reservation.css">
</head>
<body>
<div class="container">
    <div class="Reservation">
        <h3>예약서비스</h3>
        <p id="accent" class="accent"><span style="font-style: italic>"> </span> </p>
    </div>

    <div class="lists">
        <ul>
            <li class="item-title">고속버스</li>
        </ul>
        <ul>
            <li class="item-title">기차</li>
        </ul>
        <ul>
            <li class="item-title">음</li>
        </ul>

    </div>
</div>

</body>
</html>