<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이력서</title>
    <style >
       table, th, td {
        border: 1px solid #000000;
        }

        td {
        padding: 15px;
        }

    </style>
</head>
<body align="center">
<h1 align="center">자기소개서(이력서)</h1>
<table align="center">
    <tr>
        <th bgcolor="#808080">이름</th>
        <td>이태양</td>
        <td rowspan="3" width="150"><img src="taeyang.jpg"></td>




    </tr>
    <tr >
        <th bgcolor="#808080">주소</th>
        <td style="width: 300px;">경기도 고양시 일산서구</td>

    </tr>
    <tr>
        <th bgcolor="#808080">전화번호</th>
        <td>010-xxxx-xxxx</td>
    </tr>
    <tr>
        <th bgcolor="#808080">email</th>
        <td colspan="3">rudghxodid@naver.com</td>

    </tr>
    <tr>
    <th bgcolor="#808080">자격증</th>
    <td colspan="3">정처기 실기만 합격하면된다...</td>
    </tr>
    <tr>
        <th bgcolor="#808080">프로젝트</th>
        <td  colspan="3">Java Swing과 fx를 이용한 Music Player 만들기 <br>
                         Java 빙고게임<br>
                         Java 계산기 만들기<br>
                         Java 카드 뒤집기 게임<br>
                         Java 구구단 게임<br>
                         회원가입,로그인을 통해 회원을 관리하고 게시판을 통해 글 작성이 가능한 웹페이지<br>
                         Python을 이용한 파입입출력을 통한 평균 순위 학점계산 성적프로그램<br>
                         C나 다른 게 몇몇 개 있지만 코드가 사라졌습니다 ㅠ_ㅠ 캡쳐해서 정리해놓은 건 있는데 써먹을 수 있을까요?

        </td>
    </tr>
    <tr>
        <th bgcolor="#808080" height="300">나의 장단점</th>
                <td colspan="3">고민하고 잘 작성하자</td>
    </tr>
</table>

</body>
</html>