<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      p {
           font-size: 15px;
           line-height: 7px;
        }
    </style>
</head>
<body>
    <h1>이력서</h1>
    <h2>소개</h2>
    <hr/>
    <ul>
      <img src = "myPho.png", width="150" height="180">
      <li><p>이름: 정도영</p></li>
      <li><p>군필여부: 병장만기전역</p></li>
      <li><p>취미: 유튜브보기, 산책</p></li>
      <li><p>Email: jdy8739@gmail.com</p></li>
    </ul>
    <h2>학력사항</h2>
    <hr/>
    <ul>
        <li><p>**고 졸업 2010~2013</p></li>
        <li><p>**대 산업디자인학과 졸업 2014~2021</p></li>
    </ul>
    <h2>어학점수</h2>
    <hr/>
    <ul>
        <li><p>TOEIC ***점 취득, 2021년 2월</p></li>
        <li><p>OPIC **, 2021년 1월</p></li>
    </ul>
    <h2>보유 자격증</h2>
    <hr/>
    <ul>
        <li><p>정처기(따고싶음)..</p></li>
        <li><p>참 쓸게 없네요 ㅠㅠ</p></li>
    </ul>
    <h2>키우는 강아지</h2>
    <hr/>
    <ul>
        <img src = "myDog.png", width="210" height="180">
        <li><p>시츄 다롱이</p></li>
        <li><p>2010~</p></li>
    </ul>
    <h2>어제 먹은거</h2>
    <hr/>
    <ul>
        <img src = "shakeX2.png", width="180" height="150">
        <li><p>쉑쉑버거 (15300원)</p></li>
        <li><p>맛있었다.</p></li>
    </ul>


</body>
</html>