<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table, th, td {
      border: 1px solid #000000;
      }
      td, th {
      padding: 10px;
      }
      tr > td:nth-child(odd) {
        width: 200px;
        }
      tr > td:nth-child(even) {
        width: 400px;
        }
    </style>
</head>
<body>
    <table>
      <caption>
        <strong>이력서</strong>
        <p>안녕하세요. 신입사원 지원자 정도영 이력서입니다.</p>
      </caption>
      <tr>
        <th>지원자격:</th>
        <th>학위:</th>
        <th>이력:</th>
      </tr>
      <tr>
        <td>보유 자격증:</td>
        <th>지원 동기:</th>
        <th>입사 후 계획:</th>
      </tr>
    </table>

</body>
</html>