<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="srylesheet" href="/css/basic/parentChild.css">

</head>
<body>
  <div id="container">
    <header><h1>EN Course</h1></header>
    <p>Test</p>
    <ul>
        <li>Method
          <ul>
            <li> Card</li>
            <li> Bank</li>
          </ul>
        </li>
      <li>price
        <ul>
          <li>수중 탐사: 100만원</li>
          <li>동굴 탐사: 50만원</li>
          <li>정글 체험: 200만원</li>
          <li>화산 체험: 300만원</li>
        </ul>
      </li>
    </ul>
  </div>
</body>
</html>