.box{
    position:absolute;
    left: 50px;
    top: 70px;
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border: 3px solid blue;
    text-align: center;
    line-height: 60px;
}
.box:hover {

    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}