<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var formObj = $("#membership");

        $("#btnRegister").on("click", function() {
            var passwordObj = $("#password");
            alert("membership: " + JSON.stringify(membership));

            formObj.attr("action", "register");
            formObj.attr("method", "post");
            formObj.submit();
        });
    });
</script>

<body>
<h2>회원 가입</h2>

<form id="membership" th:object="${membership}" method="post">
  <table>
    <form class="signUp">
      <div style>
        <label for="name" style="text-align:left;">* 이름</label>
        <input type="text" id="name" name="memName"
               style="width:300px; height:35px;" th:field="*{memName}">
      </div>
      <br>
      <div >
        <label for="id">* 아이디</label>
        <input type="text" id="id" name="memID"
               style="width:300px; height:35px;" th:field="*{memID}">
      </div>
      <br>
      <div >
        <label for="password">* 비밀번호</label>
        <input type="text" id="password" name="memPassword"
               style="width:300px; height:35px;" th:field="*{memPassword}">
      </div>
      <br>
      <div>
        <label for="phone">* 휴대전화</label>
        <input type="text" id="phone" name="phoneNum"
               style="width:300px; height:35px;" th:field="*{phoneNum}">
      </div>
      <br>
      <div>
        <label for="birth">* 생년월일</label>
        <input type="text" id="birth" name="memBirth"
               style="width:300px; height:35px;" th:field="*{memBirth}">
      </div>
      <br>
      <br>
      <br>
      <center>
        <input type="checkbox" value="agree">이용약관 동의
        <br><br>
        <input type="checkbox" value="agree2">개인정보 수집 및 이용 동의
      </center>
    </form>
  </table>
</form>

<div>
  <button type="submit" id="btnRegister">회원 가입</button>
</div>
</body>
</html>