<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
        <link rel="stylesheet" href="/css/mainPage/navigationBar.css?after">


<body>
    <header>
        <nav>
            <ul class="nav-container">
                <li class="nav-item"><a href="">판매 & 렌탈</a></li>
                <li class="nav-item"><a href="">전시회 정보</a></li>
                <li class="nav-item"><a href="">인테리어 정보</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="main-display"><p>1111</p></div>
        <div class="main-board1"><p>2222</p></div>
        <div class="main-board2"><p>3333</p></div>
        <div class="main-board3"><p>4444</p></div>
    </main>




</body>
</html>