<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <p>캐릭터 상태 창</p>
    <p>HP: {{ Math.floor(characterStatus.hp) }} 
        MP:  {{ characterStatus.mp }} 
        ATK:  {{ characterStatus.atk }}
         Lv: {{ characterStatus.level }}
    </p>
    <p>
        STR: {{ characterStatus.str }}
         INT: {{ characterStatus.intelligence }}
          DEX: {{ characterStatus.str }}
          VIT: {{ characterStatus.str }}
          DEF: {{ characterStatus.str }}
          MEN: {{ characterStatus.str }}
    </p>
    <p>
        소지금: {{ characterStatus.money }}원
    </p>
    <p>
        현재 경험치 상태:
         {{ characterStatus.currentLevelBar }} /
        {{ characterStatus.totalLevelBar }}
    </p><br><br>

    <h3>상점</h3>
    <label>
        <input type="checkbox" v-model="shopView" v-on:click="shuffleShopList()">판매목록
    </label>
    <table border="1" v-if="shopView">
        <tr>
            <th align="center" width="40">번호</th>
            <th align="center" width="120">아이템명</th>
            <th align="center" width="160">가격</th>
            <th align="center" width="320">아이템설명</th>
            <th align="center" width="40">구매</th>
        </tr>
        <tr v-for="(list, idx) in shopList" 
            v-bind:key="list.name">
            <button v-on:click="purchaseButton(shopListValue, idx)">구매하기</button>
            <th align="center" width="40">{{ idx + 1 }}</th>
            <th align="center" width="120">{{ list.name }}</th>
            <th align="center" width="160">{{ list.price }}</th>
            <th align="center" width="320">{{ list.effect.desc }}</th>
            <th align="center" width="40">
                <label>
                    <input type="checkbox"
                            v-model="shopListValue"
                            v-bind:value="idx">
                </label>
            </th>
        </tr>
    </table>
    <button v-on:click="myDarknessDragon()">내안의 흑염룡!!!!~~!~!~!</button>

    <!-- 추가적으로 몬스터를 통해 게임 머니를 획득할 수 있도록 만들어보자!-->
    <input v-model="monsterName">
    <button v-on:click="addMonster">몬스터 추가히기</button>
    <button v-on:click="addManyMonster">몬스터 100마리 젠</button>
    <ul>
        <li v-for="(monster, index) in monsters"
            v-bind:key="monster.id"
            v-bind:class="{ strong: monster.hp > 300 }">
            ID.{{ monster.id  }} {{ monster.name }} HP.{{ monster.hp }}
            <button v-on:click="userAttack(index)">평타</button>
            <button v-on:click="removeMonster(index)">몬스터 삭제</button>
        </li>
    </ul>

    <p>몬스터 도감이고 앞으로 계속 업데이트 될 예정입니다</p>
    <ul>
        <li v-for="monsterInfo in monsterBook"
        v-bind:key="monsterInfo.name">
        이름: {{ monsterInfo.name }},
         HP: {{ monsterInfo.hp }},
         EXP: {{ monsterInfo.exp }},
         드랍머니: {{ monsterInfo.drop }}
            
    </li>
    </ul>
</div>
<script src="/vue/third/third.js"></script>
</body>
</html>