<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="cpmtaomer">
    <div id="whoami" style="width:200px; height:200px; float:left">
        <h1>Name</h1>
        <p>어마마마</p>
    </div>
    <div id="detail" style="width:300px; height:200px; float:left"> <!-- div를 사용하여 문자나 이미지의 구역을 정하고 왼쪽에서 부터 나열한다-->
        <h1>그 다음 올 단어는?</h1>
        <p>통촉하여 주시옵소서!</p>
    </div>
    <div id="img" style="width:200px; height:200px; float:left">
        <img src="img.png">
    </div>
    <div style="width:200px; height:200px; float:right"> <!-- div를 사용하여 오른쪽부터 나열한다-->
        <p>고노 히카리와 ?!</p>
    </div>
</div>
</body>
</html>