<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>회원가입 목록 보기</h2>
<a href="/register">회원가입 하러가기</a>
<br>
<a href="/mainPage">홈으로 가기</a>

<table border="1">
  <tr>
    <th align="center" width="120">이름</th>
    <th align="center" width="120">생년월일</th>
    <th align="center" width="120">아이디</th>
    <th align="center" width="120">비밀번호</th>
    <th align="center" width="120">등록일자</th>
  </tr>
  <tr th:if="${#lists.isEmpty(project)}">
    <td colspan="5">
      현재 등록된 회원이 없습니다!
    </td>
  </tr>
  <tr th:each="projectElem : ${project}">
    <td align="center" th:text="${projectElem.username}"></td>
    <td align="center" th:text="${projectElem.birth}"></td>
    <td align="center" th:text="${projectElem.id}"></td>
    <td align="center" th:text="${projectElem.password}"></td>
    <td align="center" th:text="${#dates.format(projectElem.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
  </tr>
</table>
</body>
</html>
