<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        var formObj = $("#main");-->

<!--        $("#btnLogin").on("click", function() {-->
<!--        formObj.attr("action","login");-->
<!--        formObj.attr("method","post");-->
<!--        formObj.submit();-->
<!--        });-->

<!--        $("#btnMain").on("click",function() {-->
<!--        self.location = "main";-->
<!--        });-->
<!--    });-->

<!--</script>-->
<center>
<body>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br>
    <h2>회원가입이 완료되었습니다.</h2>
<center>
    <div>
        <br>
        <button type="submit" id="btnLogin">로그인</button>
        <button type="submit" id="btnMain">메인으로</button>
    </div>
</center>

</body>
</center>

</html>