.box {
    position: absolute;     /* 박스가 배치되는 위치를 절대값으로 지정 */
    left: 20px;
    top: 70px;
    width: 140px;
    height: 60px;
    background: #FFFFFF;
    border: 3px solid blue;
    text-align: center;
    line-height: 60px;
}