<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <style>
        table, th, td {
           border: 1px solid #000000;
        }
        th {
           padding: 10px;
        }
        td {
           padding: 8px;
        }
        p {
          font-size: 15px;
          line-height: 30px;
        }
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
<body>
    <center><h2>콘서트 리스트</h2></center>
    <table>
      <tr>
        <th align="center" width="80">No.</th>
        <th align="center" width="150">콘서트명</th>
        <th align="center" width="130">아티스트</th>
        <th align="center" width="120">장소</th>
        <th align="center" width="150">일시</th>
        <th align="center" width="400">콘서트 정보</th>
          <th align="center" width="150">콘서트 가격</th>
        <th align="center" width="150">등록일자</th>
      </tr>
      <tr th:if="${#lists.isEmpty(concertList)}">
          <td colspan="7">아직 등록된 콘서트가 없습니다.</td>
      </tr>
      <tr th:each="concertElem : ${concertList}">
          <td align="center" th:text="${concertElem.concertNo}"></td>
          <td align="center" th:text="${concertElem.concertName}"></td>
          <td align="center" th:text="${concertElem.concertArtist}"></td>
          <td align="center" th:text="${concertElem.concertVenue}"></td>
          <td align="center" th:text="${concertElem.concertDate}"></td>
          <td align="center" th:text="${concertElem.concertInfo}"></td>
          <td align="center" th:text="${concertElem.price}"></td>
          <td align="center" th:text="${#dates.format(concertElem.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
    </table>

    <a href="/concertRegister">콘서트 등록</a>

</body>
</html>