<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자기소개서</title>
</head>
<body>
<caption>
    <h1><strong><mark style="background-color: gold;">[김중연]자기소개서</mark></strong></h1>
</caption>
  <h1>소개</h1>
    <img src="img.png">
    <ul>
        <li>이름 : 김중연</li>
        <li>군복무: 만기전역</li>
        <li>취미: 독서, 요리, 달리기, 음악감상</li>
        <li>Email: jjjr69@naver.com</li>
        <li>GitHub: github.com/Kimjoongyeon</li>
    </ul>

<h2>경력</h2>
 <ul>
     <li></li>
 </ul>

<h2>학력</h2>
<ul>
    <li>Kh정보교육원 자바기반웹프로그래밍( 2021. 05. 07 ~ 2021. 12. 08)</li>
</ul>
</body>
</html>