<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/basic/parentChild.css">
</head>
<body>
  <div id="container">
      <header><h1>EM Course</h1></header>
      <p>Test</p>
      <ul>
          <li>Method
              <ul>
                  <li>Card</li>
                  <li>Bank</li>
              </ul>
          </li>
          <li>Price
              <ul>
                  <li>수중탐사: 100만원</li>
                  <li>동굴탐사: 50만원</li>
                  <li>정글체험: 200만원</li>
                  <li>화산체험: 300만원</li>
              </ul>
          </li>
      </ul>
  </div>
</body>
</html>