<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- h1 ~ h6는 글자의 크기 속성을 지정할 수 있음 -->
  <h1>Frontend/Backend</h1>
  <p>웹 개발에는 Frontend/Backend 개발이 있고</p>
  <p>두 개를 모두 하는 경우 Full Stack 개발자라고 부릅니다.</p>
  <p>Full Stack 개발자의 필수 덕목은 Spring Boot, JPA + Alpha(Kafka, etc ...)</p>
  <p>그리고 HTML5/CSS3, JavaScript, Vue/React/Svelte, Typescript 등입니다.</p>

  <!-- unordered list -->
  <ul>
    <li>HTML5/CSS3</li>
    <li>JavaScript</li>
    <li>Vue</li>
    <li>Svelte</li>
    test<br>
    hi<br>
  </ul>

  <!-- ordered list -->
  <ol>
    <li>Golang</li>
    <li>C#</li>
    <li>C++</li>
    <li>Rust</li>
    <li>Python</li>
    <li>Java</li>
  </ol>
</body>
</html>