<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
<!--<style type="text/css"></style>-->
    <style>
    table, th, td {
      border: 1px solid #000000;
    }
    th {
      padding: 15px;     /* 셀 테두리와 내용 사이의 간격(패딩) */
    }
    tr > td:nth-child(odd) {
      width: 300px;      /* 홀수번째 열의 너비 지정 */
    }
    tr > td:nth-child(even) {
      width: 300px;      /*짝수번째 열의 너비 지정 */
    }
    div {
    text-align:center;
    font-size:45px;
    }
    p {
    text-align:center;
    font-size:20px;
    color: #cccccc;
    line-height: 20px; /* 줄 간격 */
    }
    span {
     line-height: 20px;
     }

     d{
     line-height: 20px;
     }

   table1, th1, td1 {
      border: 1px solid #000000;
    }
    th1 {
      padding: 15px;     /* 셀 테두리와 내용 사이의 간격(패딩) */
    }
    tr1 > td:nth-child(odd) {
      width: 300px;      /* 홀수번째 열의 너비 지정 */
    }
    tr1 > td:nth-child(even) {
      width: 300px;      /*짝수번째 열의 너비 지정 */
    }


  </style>
</head>
<body>
    <h1></h1>
    <span><div>김원석</div>
    <p>SW개발자 신입지원</p></span>
    <hr width = "30%" color = "black" size = "1">
    <h2></h2>
    <center><img src="wsk0307.jpeg" style="width:150px" height="200px"></center>
    <h3></h3>
    <h4></h4>
    <center><p1 font-size = "10px;", style="color: gray;">남, 1989년 3월</p1></center>
    <center><p2 font-size = "10px;", style="color: gray;">010-****-*****, wsk0307@naver.com</p2></center>
    <center><p3 font-size = "10px;", style="color: gray;">경기도 성남시 중원구 금광동</p3></center>
    <left><hr width = "30%" color = "gray" size = "1"></left>
    <br>
    <br>
    <br>
    <br>
    <br>

    <ul>
        <li><b>학력 사항</b></li>
    </ul>
        <center><p2 font-size = "8px;", style="color: blue;"><i>최종학력: 대학교(4년제)/졸업</i></p2></center>
        <table>
        <tr>
            <th>기간</th>
            <th>학교명</th>
            <th>전공 학과</th>
            <th>학점</th>
        </tr>
        <tr>
            <td><center>2006.09 ~ 2009.06</center></td>
            <td><center>Bayside High School</center></td>
            <td><center>일반</center></td>
            <td><center>3.5 / 4.0</center></td>
        </tr>
        <tr>
            <td><center>2009.09 ~ 2013.12</center></td>
            <td><center>Nyack College</center></td>
            <td><center>클래식 피아노</center></td>
            <td><center>3.2 / 4.0</center></td>
        </tr>
<br>
</table>
        <table>
        <br>
<ul>
    <li><b>경력 사항</b></li>
</ul>
<br>
      <tr>
          <th>기간</th>
          <th>회사명</th>
          <th>직급/직책</th>
          <th>상태</th>

      </tr>
    <tr>
        <td><center>2019.05 ~ 2020.08</center></td>
        <td><center>(주)티브이씨</center></td>
        <td><center>사원</center></td>
        <td><center>퇴사</center></td>
    </tr>
    <tr>

        <th>주요직무 및 업무</th>
        <td colspan="3"><center>광고기획 AE, 광고주 관리, 광고기획 및 광고대행 (영상,POP), 네이버 키워드 및 브 랜드 검색광고, 브로슈어, 리플릿 제작</center></td>
    </tr>
    <tr>
        <th>기간</th>
        <th>회사명</th>
        <th>직급/직책</th>
        <th>상태</th>

    </tr>
    <tr>
        <td><center>2018.03 ~ 2018.10</center></td>
        <td><center>(주)키스에프앰</center></td>
        <td><center>사운드 디자이너</center></td>
        <td><center>퇴사</center></td>
    </tr>
    <tr>
        <th>주요직무 및 업무</th>
        <td colspan="3"><center>삼성 QLED TV, 삼성 다이렉트 자동차 보험, 삼성 화재보험, 한국타이어, 맥심커피, 웅진 코웨이 정수기,
            크레모랩 화장품, 노스페이스, 미에로화이바, 마데카솔, 배틀그 라운드 게임 등 광고 음악 선곡, 효과음 작업 및 모델, 성우녹음</center></td>
    </tr>
</table>

<ul>
    <li><b>참여 프로젝트</b></li>
</ul>
<table>
    <tr>
        <th>기간</th>
        <th>프로젝트</th>
        <th>수행업무</th>
        <th>발주처</th>

    </tr>
    <tr>
        <td><center>2019.09 ~ 2019.11</center></td>
        <td><center>차 의과학대학교 2020년 모집요강</center></td>
        <td><center>기획</center></td>
        <td><center>차 의과학 대학교</center></td>
    </tr>
    <tr>
        <th>주요직무 및 성과</th>
        <td colspan="3"><center>수시모집, 정시모집, 편입학모집요강, 재 외국인 특별전형 등 책자 기획 및 관리</center></td>
    </tr>
    <tr>
        <td><center>2019.12 ~ 2020.03</center></td>
        <td><center>한독테바 롱퀵스 논문 동봉 브로 슈어 제작</center></td>
        <td><center>기획</center></td>
        <td><center>한독테바</center></td>
    </tr>
    <tr>
        <th>주요직무 및 성과</th>
        <td colspan="3"><center>제약품 롱퀵스 논문 동봉 브로슈어 기획</center></td>
    </tr>
    <tr>
        <td><center>2020.06 ~ 2020.07</center></td>
        <td><center>(주)롯데주류 온라인 판촉서비스 영상 제작</center></td>
        <td><center>기획</center></td>
        <td><center>(주)롯데칠성음료</center></td>
    </tr>
    <tr>
        <th>주요직무 및 성과</th>
        <td colspan="3"><center>부산 명품외식명가 육면정 홍보 영상 제작 기획</center></td>
    </tr>
</table>
    <ul>
        <li><b>주요활동 및 수상경력</b></li>
    </ul>
<table>
    <tr>
        <th>기간/일자</th>
        <th>구분</th>
        <th>기관명</th>
        <th>내용/내역</th>
    </tr>
    <tr>
        <td><center>2007.05.18</center></td>
        <td><center>수상경력</center></td>
        <td><center>New Praise Support Society</center></td>
        <td><center>NewYork 4회 찬송가 연주 찬양제 콩쿨</center></td>
    </tr>
    <tr>
        <th>주요 활동</th>
        <td colspan="3"><center>찬송가 연주 찬양제 피아노 부분 금상 수상</center></td>
    </tr>
    <tr>
        <th>기간/일자</th>
        <th>구분</th>
        <th>기관명</th>
        <th>내용/내역</th>
    </tr>
    <tr>
        <td><center>2008.12.29</center></td>
        <td><center>수상경력</center></td>
        <td><center>Nyack College</center></td>
        <td><center>2008 Invitational Music Scholarship Competition</center></td>
    </tr>
    <tr>
        <th>주요 활동</th>
        <td colspan="3"><center>2009년도 음악 장학회 연주 경연대회 1등 입상</center></td>
    </tr>
</table>


</body>
</html>