<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type ="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            var formObj



    </script>
</head>
<body>
    <h2>회원가입</h2>

    <form id="board" th:object="${user}" method="post">
        <table>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name" th:field="*{name}"></td>
            </tr>
            <!-- 중복처리기능 넣어야함-->
            <tr>
                <td>아이디</td>
                <td><input type="text" name="id" th:field="*{id}"></td>
                <td><button type="submit" id="btnIdDupliCheck">중복 확인</button></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="password" th:field="*{password}"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="email" name="email" th:field="*{email}"></td>
            </tr>
        </table>
    </form>
    <div>
        <button type="submit" id="btnRegister">회원가입</button>

    </div>

</body>
</html>