<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이력서</title>
    <style>
        table, th, td {
           border: 1px solid #000000;
        }
        td, th {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <caption>
        <strong>이력서(Resume)</strong>
        <br>
        <br>

        <tr>
            <th rowspan="4" width="150" height="80">인적사항</th>
            <th width="150">이 름</th>
            <td width="200" style="text-align:center">유종현</td>
            <th width="150">생년월일</th>
            <td width="200" style="text-align:center">920612</td>
            <th rowspan="4" width="150" height="100">사 진</th>
        </tr>
        <tr>
            <th>연락처</th>
            <th></th>
            <th>이메일</th>
            <td></td>
        </tr>
        <tr>
            <th>취 미</th>
            <td></td>
            <th>병 역</th>
            <td></td>
        </tr>
        <tr>
            <th>주 소</th>
            <td colspan="3"> </td>
            <br>
</table>
<br><br>
<table>
    <tr>
        <th width="80" rowspan="4">학력사항</th>
        <th width="150">졸 업 일</th>
        <th width="250">학교명</th>
        <th width="200">전 공</th>
        <th width="100">졸업여부</th>
        <th width="100">소재지</th>
        <th width="100">성 적</th>
    </tr>

    <tr>
        <td style="text-align:right">년 &nbsp;&nbsp;&nbsp;&nbsp;일</td>
        <td style="text-align:right">          고등학교</td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align:center">/</td>
    </tr>
    <tr>
        <td style="text-align:right">년 &nbsp;&nbsp;&nbsp;&nbsp;일</td>
        <td style="text-align:right">            대학교</td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align:center">   /   </td>
    </tr>
    <tr>
        <td style="text-align:right">년 &nbsp;&nbsp;&nbsp;&nbsp;일</td>
        <td style="text-align:right">            대학원</td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align:center">   /   </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th width="80" rowspan="4">경력사항</th>
        <th width="275">근 무 기 간</th>
        <th width="200">회사명</th>
        <th width="150">직 위</th>
        <th width="150">담 당 업 무</th>
        <th width="150">퇴사사유</th>
    </tr>

    <tr>
        <td style="text-align:center">-</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="text-align:center">-</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="text-align:center">-</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th width="80" rowspan="2">병역사항</th>
        <th width="145">군 필 여 부</th>
        <td width="400" style="text-align:center">군필(&nbsp;&nbsp;), 미필(&nbsp;&nbsp;), 면제(&nbsp;&nbsp;), 기타(&nbsp;&nbsp;)</td>
        <th width="200">군 별</th>
        <td width="200"></td>
    </tr>
    <th>복 무 기 간</th>
    <td style="text-align:center">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        (&nbsp;&nbsp;&nbsp;&nbsp;년&nbsp;&nbsp;&nbsp;&nbsp;개월)</td>
    <th>계 급</th>
    <td></td>
</table>
<br>
<table>
    <tr>
        <th width="80" rowspan="5">가족사항</th>
        <th width="70">관계</th>
        <th width="150">성 명</th>
        <th width="250">생년월일</th>
        <th width="200">학 력</th>
        <th width="250">직 업</th>
    </tr>

    <tr>
        <th height="14"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th height="14"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th height="14"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th height="14"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>
<br>
<table>
    <tr>
        <th rowspan="6" width="80">기타사항</th>
        <th width="150">신 장</th>
        <td style="text-align:right" width="150">cm</td>
        <th width="150">체 중</th>
        <td style="text-align:right" width="150">kg</td>
        <th width="150">시 력</th>
        <td style="text-align:center" width="150">/</td>
    </tr>
    <tr>
        <th>취 미</th>
        <td></td>
        <th>특 기</th>
        <td></td>
        <th>종 교</th>
        <td></td>
    </tr>
    <tr>
        <th rowspan="4">전산능력</th>
        <th>프로그램명</th>
        <th>활용도</th>
        <th colspan="3" width="300">자격증 보유 현황</th>
    </tr>
    <tr>
        <td height="15"></td>
        <td></td>
        <td colspan="4"></td>

    </tr>
    <tr>
        <td height="15"></td>
        <td></td>
        <td colspan="4"></td>

    </tr>
    <tr>
        <td height="15"></td>
        <td></td>
        <td colspan="4"></td>
    </tr>
</table>

</body>
</html>