<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>상품목록 보기</h2>
<a href="/register">상품등록하기</a>
<table border="1">
  <tr>
    <th align="center" width="100">번호</th>
    <th align="center" width="640">상품명</th>
    <th align="center" width="150">상품가격</th>

  </tr>

  <tr th:if="${#lists.isEmpty(lists)}">
    <td colspan="4">
      현재 등록된 게시물이 없습니다!
    </td>
  </tr>
  <tr th:each="product : ${[lists]}">
    <td align="center" th:text="${product.pro_no}"></td>
    <!-- |read?boardNo=${board.boardNo}| 는 결국 아래를 의미함
         read?boardNo=1, read?boardNo=3, read?boardNo=7 형태로
         게시물 번호에 해당하는 값을 셋한다고 보면됨 -->
    <td align="left" th:href="@{|read?pro_no=${product.pro_no}|}" th:text="${product.objname}"></td>
    <td align="right" th:text="${product.price}"></td>

  </tr>
</table>
</body>
</html>