body {
    background: #222222;
}
.text1 {
    color: rgb(255, 255, 255);
}
.text2 {
    color: rgba(255, 255, 255, 0.8);    /* 0.8: 알파값이라고 부르며 숫자가 작을수록  투명해진다  */
}
.text3 {
    color: rgba(255, 255, 255, 0.5);
}
.text4 {
    color: rgba(255, 255, 255, 0.2);
}