<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personalProject</title>
    <link rel="stylesheet" href="/css/mainhome.css">
    <script src="https://kit.fontawesome.com/99d8e2f688.js" crossorigin="anonymous"></script>
    <script type="text/javascript">

    </script>

</head>
<body>
<header>
    <h1><a href="movietest">WARNING</a></h1>
    <nav class="lnb">
        <ul>
            <li><a href="movietest">홈</a></li>
            <li><a href="#">TV프로그램</a> </li>
            <li><a href="#">영화</a></li>
            <li><a href="#">뉴스</a></li>
        </ul>
    </nav>
    </div>
    <nav class="spot">
        <ul>
            <li><a href="login">로그인</a> </li>
            <li><a href="signupregister">회원가입</a> </li>
        </ul>
    </nav>
</header>

<div class="section">
    <input type="radio" name="slide" id="slide01" checked>
    <input type="radio" name="slide" id="slide02">
    <input type="radio" name="slide" id="slide03">

        <ul class="slidelist">
            <li class="slideitem">
                <a>
                    <img src="/Parasite.png">
                </a>
            </li>
            <li class="slideitem">
                <a>
                    <img src="/img/img.png">
                </a>
            </li>
            <li class="slideitem">
                <a>
                    <img src="/BandOfBrothers.png">
                </a>
            </li>
        </ul>
    <div class="slide-control">
        <div class="slide-control01">
        <label for="slide03" class="left"></label>
        <label for="slide02" class="right"></label>
    </div>
    <div class="slide-control02">
        <label for="slide01" class="left"></label>
        <label for="slide03" class="next"></label>
    </div>
    <div class="slide-control03">
        <label for="slide02" class="left"></label>
        <label for="slide01" class="next"></label>
    </div>
    </div>
    </div>
</div>


</body>
</html>
