<!--   <<--- HTML 주석
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Forntend / Backend</h1>
<p>웹 개발에는 프론트앤드/백앤드 개발이 있고</p>
<p>두 개를 모두 하는경우 풀스택(Full Stack) 개발자라고 부른다</p>
<p>풀스택 개발의 필수 덕목은 Spring Boot, JPA + Alpha(kafka, etc ...)</p>
<p>그리고 Html5/css3, javaScript, vue/React/Scelte,  등입니다. </p>

<ul>
  <li>HTML5/CSS3</li>
  <li>javaScript</li>
  <li>vue/React/Scelte</li>
  <li>TypeScript</li>
  test<br>
  hi<br>
</ul>

<ol>
  <li>Golang</li>
  <li>c#</li>
  <li>c++</li>
</ol>

</body>
</html>