<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>secondTableTest Page!</title>

  <style>
      table, th, td {
        border: 1px solid #000000;
        }
        td, th{
          padding: 10px; /* 셀 테두리와 내용 사이의 간격(패딩) */
        }
    </style>
</head>
<body>
  <table>
    <!-- caption, figcaptin을 통해 표에 제목을 붙일 수 있음 -->
    <caption>
      <strong>이력서(Resume)</strong>
      <p>누구도 나를 멈출수 없다.. ㅋㅋ</p>
    </caption>
    <tr>
      <th>Browser</th>
      <th>Vendor</th>
      <th>DownLoads</th>
    </tr>
    <tr>
      <th>Chrome</th>
      <td>Google</td>
      <td>https://www.google.com/chrome</td>
    </tr>
    <tr>
      <th>fireFox</th>
      <td>mozilla</td>
      <td>https://www.mozilla.org/ko/firefox/</td>
    </tr>
  </table>

</body>
</html>