<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var formObj = $("#member");

        $("#btnSignUp").on("click", function() {
            formObj.attr("action", "signup");
            formObj.attr("method", "post");
            formObj.submit();
        });
    });
</script>

<body>
<h2>회원가입</h2>

<form id="member" th:object="${member}" method="post">
  <table>
    <tr>
      <td>이름</td>
      <td><input type="text" name="name" th:field="*{name}"></td>
    </tr>
    <tr>
      <td>아이디</td>
      <td><input type="text" name="id" th:field="*{id}"></td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input type="text" name="pw" th:field="*{pw}"></td>
    </tr>
  </table>
  <table>
    약관동의<br>      <!-- 세부사항 만들어야함 사이트 이름도 생각해야함 -->
    (사이트이름)이용 약관동의<input type="checkbox" name="check" value="hobby1">
    개인정보 수집,이용 동의<input type="checkbox" name="check" value="hobby2">
    만 14세 이상입니다<input type="checkbox" name="check" value="hobby3">
    마케팅 정보 수신 동의(선택)<input type="checkbox" name="check" value="hobby4">
  </table>
</form>

<div>
  <button type="submit" id="btnSignUp">회원가입하기</button>
</div>
</body>
</html>