<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
    border: 1px solid #00000;
    }
    td, th {
    padding: 10px;    /* 셀 테두리와 내용 사이의 간격(패딩) */
    }
    </style>
</head>
<body>
  <table>
    <!-- caption, figcaption을 통해 표에 제목을 붙일 수 있음 -->
    <caption>
      <strong><h3>이력서(resume)</h3></strong>
    <p>누구보다 빠르게 남들과는 다르게</p>

      <strong><h7>소개</h7></strong>

      <ul>
        <li>이름: 김도연</li>
        <li>취미: 운동, 문화생활 즐기기</li>
        <li>이메일: ms109420@naver.com</li>
        <li>깃허브: https://github.com/ms109420</li>
      </ul>
    </caption>
    <tr>
      <th>Browser</th>
      <th>Vendor</th>
      <th>Downloads</th>
    </tr>
    <tr>
      <th>Chrome</th>
      <td>Google</td>
      <td>https://www.google.com/chrome/</td>
    </tr>
    <tr>
      <th>Firefox</th>
      <td>Mozilla</td>
      <td>https://www.mozilla.org/ko/firefox</td>
    </tr>
  </table>
</body>
</html>