<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/basic/text-align.css">
</head>
<body>
    <h1>텍스트 정렬하기</h1>
    <p class="align-left">왼쪽 정렬</p>
    <p class="align-right">오른쪽 정렬</p>
    <p class="align-center">가운데 정렬</p>
    <!-- center: 줄이 바뀌어도 가운데에 정렬됨 -->
    <p class="align-center">center와 justify의 차이가 뭘까 / center와 justify의 차이가 뭘까/
        center와 justify의 차이가 뭘까 / center와 justify의 차이가 뭘까
        center와 justify의 차이가 뭘까 / center와 justify의 차이가 뭘까/
        center와 justify의 차이가 뭘까</p>
    <!-- justify: 줄이 바뀌면 위의 줄에 맞춰서 정렬 -->
    <p class="align-justify">center와 justify의 차이가 뭘까 / center와 justify의 차이가 뭘까/
        center와 justify의 차이가 뭘까 / center와 justify의 차이가 뭘까
        center와 justify의 차이가 뭘까 / center와 justify의 차이가 뭘까/
        center와 justify의 차이가 뭘까</p>

</body>
</html>






















