<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <link rel="stylesheet" href="/css/js/input.css">
  <link rel="stylesheet" href="/css/js/list.css">
<body>
  <div id="wrapper">
    <h2>체크 리스트</h2>
    <form>
      <input type="text" id="item" placeholder="inputText"  autofocus="true">
      <button type="button" id="add" class="addBtn">추가</button>
    </form>
    <div id="itemList"></div>
  </div>
  <script src="/Js/checkList.js"></script>
</body>
</html>