<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이력서</title>


</head>
<body>
<table border="1" width="1000">
    <tr>
        <td bgcolor="orange" width="50" align="center">번호</td>
        <td bgcolor="orange" width="500" align="center">제목</td>
        <td bgcolor="orange" width="150" align="center">작성자</td>
        <td bgcolor="orange" width="150" align="center">작성일</td>
        <td bgcolor="orange" width="100" align="center">조회수</td>
    </tr>
    <tr>
        <td bgcolor="yellow" width="50">9</td>
        <td bgcolor="yellow" width="500" >공지사항 제목9</td>
        <td bgcolor="yellow" width="150" >user01</td>
        <td bgcolor="yellow" width="150"> 2021-03-29</td>
        <td bgcolor="yellow" width="100">34</td>
    </tr>
    <tr>
        <td bgcolor="yellow" width="50">6</td>
        <td bgcolor="yellow" width="500" >공지사항 제목6</td>
        <td bgcolor="yellow" width="150" >asnsw445</td>
        <td bgcolor="yellow" width="150"> 2021-03-12</td>
        <td bgcolor="yellow" width="100">67</td>
    </tr>
    <tr>
        <td bgcolor="yellow" width="50">3</td>
        <td bgcolor="yellow" width="500" >공지사항 제목3</td>
        <td bgcolor="yellow" width="150" >user01</td>
        <td bgcolor="yellow" width="150"> 2021-03-29</td>
        <td bgcolor="yellow" width="100">34</td>
    </tr>
    <tr>
        <td bgcolor="yellow" width="50">2</td>
        <td bgcolor="yellow" width="500" >공지사항 제목2</td>
        <td bgcolor="yellow" width="150" >user01</td>
        <td bgcolor="yellow" width="150"> 2021-03-29</td>
        <td bgcolor="yellow" width="100">34</td>
    </tr>
    <tr>
        <td bgcolor="yellow" width="50">1</td>
        <td bgcolor="yellow"width="500" >공지사항 제목1</td>
        <td bgcolor="yellow" width="150" >user01</td>
        <td bgcolor="yellow" width="150"> 2021-03-29</td>
        <td bgcolor="yellow" width="100">34</td>
    </tr>

    <tr>
        <th bgcolor="orange" colspan="4" align="center">전체 공지사항 갯수</th>
        <th bgcolor="orange" colspan="2" align="center">5개</th>
    </tr>





</table>

</body>
</html>