body{
    background: #222222;
}
.text1{
    color: rgb(255, 255, 255);
}
.text2{
    color: rgb(255, 255, 255, 0.8);
}
.text3{
    color: rgb(255, 255, 255, 0.5);
}
.text4{
    color: rgb(255, 255, 255, 0.2);   /* 마지막 0.x 이 값이 작을수록 더 투명도가 높다 */
}