<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="vueapp">
        <h1>{{ message }}</h1>
        <p>{{ repeatText }}</p>
        <p>{{ repeatText }}</p>
        <p>{{ repeatText }}</p>
        <p>{{ repeatText }}</p>
        <p>{{ repeatText }}</p>
        <p>{{ repeatText }}</p>
        <p>{{ repeatText }}</p>
    </div>


</body>
    <script>
        var app = new Vue ({
            el: '#vueapp',
            data: {
                message: '나는 겁나 길어도 이렇게 편하게 쓸 수있어.' +
                        '주구장창 늘엿 ㅓ쓸필요가 없단ㅇ말이지' +
                        '임 ㅔㅁ시지가 또 필요하면 재호ㅛㅏㄹ요ㅕ하면돼ㅑ',
                        repeatText: '재활용 짱'
            }
        })
    </script>
</html>