<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
        border : 1px solid #000000;
        }
        th {
        padding 15px;
        }
  </style>
</head>
<body>
 <table>
     <!-- caption, figcaption을 통해 표에 제목을 붙일 수 있음 -->
   <caption>
     <strong>이력서(Resume)</strong>
     <p>안녕하세요 저를 소개합니다. </p>
   </caption>
   <tr>
     <th>Browser</th>
     <th>Vendor</th>
     <th>Downloads</th>
   </tr>
     <tr>
         <th>Chrome</th>
         <td>Google</td>
         <td>https://www.google.com/</td>
     </tr>
   <tr>
     <th>Firefox</th>
     <td>Mozilla</td>
     <td>https://developer.mozilla.org/</td>
   </tr>
 </table>

</body>
</html>