<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type ="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function(){
        var formObj = $("#board");
        $("#btnRegister").on("click",function(){
            formObj.attr("action","register");
            formObj.attr("method","post");
            formObj.submit();
            });

            $("#btnList").on("click",function(){
                self.location = "lists";
                });
    });


</script>
<body>
<h2>게시글 등록</h2>
<form id="board" th:object="${product}" method="post">
    <table>
        <tr>
            <td>상품이름</td>
            <td><input type="text" name="productName" th:field="*{productName}"></td>
        </tr>
        <tr>
            <td>상품가격</td>
            <td><input type="text" name="productPrice" th:field="*{productPrice}"></td>
        </tr>
        <tr>
            <td>상품정보</td>
            <td><textarea cols="50" rows="20" name="productInfo" th:field="*{productInfo}"></textarea></td>
        </tr>


    </table>

</form>
<div>
    <button type="submit" id="btnRegister">게시글 등록</button>
    <button type="submit" id="btnList">게시글 목록보기</button>
</div>
</body>
</html>