<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><이력서></title>

    <style>
        table {
            width:700px;
        }

       table, th, td
        {
        text-align: center;
        border: 1px solid black;

        }
        td, th
        {
          padding: 10px; /* 셀 테두리와 내용 사이의 간격(패딩) */
        }
    </style>

</head>

<body>
<span style="line-height: 1.7em; ">
<h1>이력서</h1> <hr>

<h2>소개</h2>
    <ul>
        <li><strong>이름: </strong>최준환</li>
        <li><strong>영문: </strong>CHOI JUN HWAN</li>
        <li><strong>생년월일: </strong>1996년 9월 26일</li>
        <li><strong>Adress: </strong>경기도 여주시 명성로 84-3</li>
        <li><strong>Email: </strong>wnsghks4384@gmail.com</li>
        <li><strong>Github: </strong>https://github.com/ChoiJunHwanzz</li>
    </ul><hr>

<h2>학력사항</h2>
    <table>
        <tr>
            <th>학교명</th>
            <th>졸업일</th>
            <th>전공</th>
            <th>졸업여부</th>
            <th>소재지</th>
            <th>성적</th>
        </tr>
        <tr>
            <td>세종중학교</td>
            <td>2012년 02월</td>
            <td>-</td>
            <td>O</td>
            <td>경기도 여주시</td>
            <td>-</td>
        </tr>
        <tr>
            <td>여주고등학교</td>
            <td>2015년 02월</td>
            <td>-</td>
            <td>O</td>
            <td>경기도 여주시</td>
            <td>-</td>
        </tr>
        <tr>
            <td>한세대학교</td>
            <td>2021년 02월</td>
            <td>정보통신공학</td>
            <td>O</td>
            <td>경기도 군포시</td>
            <td>3.15학점</td>
        </tr>
    </table><br>
    <hr>

<h2>병역</h2>
    <table>
        <tr>
            <th>병역</th>
            <th>입대일</th>
            <th>제대일</th>
            <th>군별</th>
            <th>계급</th>
        </tr>
        <tr>
            <td>군필</td>
            <td>2016. 12</td>
            <td>2018. 09</td>
            <td>육군</td>
            <td>병장</td>
        </tr>
    </table><br><hr>

<h2>교육이수</h2>
    <table>
        <tr>
            <td>KH정보교육원</td>
            <th>(디지털컨버젼스) 스마트 콘텐츠와<br>
                웹 융합 응용SW개발자 양성과정(4)</th>
            <td>2021.05.07 ~ 2021. 12. 08</td>
        </tr>
        <tr>
            <td colspan="3">
                <p>- 응용SW 엔지니어링 전반에 관한 교육
                <p>- 프로그래밍 언어활용, 응용SW 기초 기술활용, 데이터 입출력 구현, 화면설계</p>
                <p>  화면구현, UI테스트, 서버프로그램 구현, 요구사항 확인, UI/UX 콘셉트 기획</p>
                <p>  인터페이스 구현, 통합구현, 애플리케이션 테스트 수행 및 관리 등등</p>
            </td>
        </tr>

    </table><br>

    <hr>

<h2>자격증</h2>
    <table>
        <tr>
            <th>자격증명</th>
            <th>발행처</th>
            <th>취득월</th>
        </tr>
        <tr>
            <td>정보처리기사</td>
            <td>한국산업인력공단</td>
            <td>2021. 06</td>
        </tr>
    </table><br><hr>

<h2>프로젝트 이력</h2>
    <p><img src="img_1.png"></p>
    <ol>
        <li><strong>프로젝트명: </strong> Vaca App</li>
        <li><strong>소개: </strong>필요한 나라별 언어를 선택하여 번역기능을 제공하는 서비스 </li>
        <li><strong>기간: </strong>2020. 09 ~ 2020. 12 </li>
        <li>자세한 설명은 아래 링크를 통해 확인할 수 있습니다.</li>
    </ol>

    <ul>
        <li> <a href="https://github.com/ChoiJunHwanzz/covid-2020/wiki/%ED%99%9C%EB%8F%99-%EB%82%B4%EC%97%AD">활동사항(Github WiKi)</a></li>
        <li> <a href="https://github.com/ChoiJunHwanzz/covid-2020/wiki/%EC%A4%91%EA%B0%84-%EB%B0%9C%ED%91%9C">중간발표(Github WiKi)</a></li>
        <li> <a href="https://github.com/ChoiJunHwanzz/covid-2020/wiki/%EA%B8%B0%EB%A7%90-%EB%B0%9C%ED%91%9C">기말발표(Github WiKi)</a></li>
    </ul>

    <br> <hr> <br>

      <p><img src="img_2.png"></p>
      <ol>
        <li><strong>프로젝트명: </strong> Mirror Class</li>
        <li><strong>소개: </strong>라즈베리파이를 이용하여 화면에 각종 정보를 표시함으로서 홈 IOT를 구상함 </li>
        <li><strong>기간: </strong>2020. 03 ~ 2020. 06 </li>
        <li>자세한 설명은 아래 링크를 통해 확인할 수 있습니다.</li>
    </ol>
    <ul>
        <li> 링크는 추후 업데이트 예정...</li>
    </ul>




</span>
</body>
</html>