<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <fieldset>
            <lagend>숫자와 슬라이드</lagend>
            <ul>
                <li>
                    <label for ="member">멤버숫자<samll>(최대 4명)</samll></label>
                    <input type="number" id ="member" value ="1" min="1" max="4" step="1">
                </li>
                <li>
                    <label for ="team">팀 매칭<samll>(최대 4인 9개팀)</samll></label>
                    <input type="number" id ="team" value ="1" min="1" max="9" step="4">
                </li>
                <label for ="slide">슬라이드 테스트</label>
                <input type="range" id ="slide" value ="1" min="1" max="25" step="5">
            </ul>
        </fieldset>
    </form>

</body>
</html>