<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- form의 경우 method 표기를 안하면 자동으로 get -->

  <form actiom="/test">
    골라보자! <br>
    <input type = "radio" name="ages" id="teen" value="10대">
    <lable for="teen">10대입니다.</lable><br>

    <input type = "radio" name="ages" id="twenty" value="20대">
    <lable for="teen">20대입니다.</lable><br>

    <input type = "radio" name="ages" id="thirty" value="30대">
    <lable for="teen">30대입니다.</lable><br>

    <input type = "radio" name="ages" id="fourty" value="40대">
    <lable for="teen">40대입니다.</lable><br>


    <input type="submit">
  </form>

</body>
</html>