<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <fieldset>
    <legend>수강신청</legend>
    <ul>
      <li>
        <lable for="lectures">교과목</lable>
        <select id="lectures">
          <optgroup label="컴퓨터공학">
            <option value="os">운영체제개론</option>
            <option value="odd">도메인 주도 개발</option>
            <option value="tdd">테스트 주도 개발</option>
          </optgroup>
          <optgroup label="전자공학">
            <option value="circuit">화로이론</option>
            <option value="firmware">펌웨어 프로그래밍</option>
          </optgroup>
          <optgroup label="경영학">
            <option value="basic">경영학개론</option>
            <option value="marketing">마케팅원론</option>
          </optgroup>
        </select>
      </li>
    </ul>
  </fieldset>
</form>
</body>
</html>