<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type ="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function(){
    var formObj = $("#board");
    $("#btnModify").on("click",function(){
      var productNo = $("#productNo");
      var productVal = productNo.val();

      self.location = "modify?productNo=" + productVal;
      });

    $("#btnRemove").on("click",function(){
        formObj.attr("action","remove");
        formObj.submit();
        });

        $("#btnList").on("click",function() {
                self.location = "lists";
                });
    });

</script>
<body>
    <h2>상품정보</h2>
    <form id="board" th:object="${product}" method="post">
        <input type="hidden" name="productNo" th:field="*{productNo}"/>
        <table>
            <tr>
                <td>상품이름</td>
                <td><input type="text" name="productName" th:field="*{productName}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>상품가격</td>
                <td><input type="text" name="productPrice" th:field="*{productPrice}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>상품정보</td>
                <td><textarea cols="50" rows="20" name="productInfo" th:field="*{productInfo}" readonly="readonly"></textarea></td>
            </tr>

        </table>
    </form>

</body>
<div>
    <button type="submit" id="btnModify">게시물 수정</button>
    <button type="submit" id="btnRemove">게시물 삭제</button>
    <button type="submit" id="btnList">게시글 목록 보기</button>

</div>
</html>