<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
<!--    onclick 을 통해 클릭하면 새창을 열라고 지시되어 있음
        새창에선 사용자의 공인인증서 암호를 빼낸다던지 여러가지 일을 할 수도 있음
        아래와 같이 우리가 이미 맵핑 시켜놓은 URL로 보낼 수도 있다. -->
    <input type="button" value="우왕굳 누르면 1000만원을 줍니다." onclick="window.open('checkboxTest')">
  </form>
</body>
<!--실행 시 우왕굳을 누르면~이라는 버튼이 만들어지고 클릭 시, 빈 페이지가 열린다.
    onclick="window.open('checkboxTest')"에서 open('')안에 들어가는 URL이 새창으로 열린다.-->
</html>
