@font-face {
    font-family: 'Daheng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Daheng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

.container{

    font-family: 'Daheng';
    width:450px;
    margin:0 auto;
    border: 1px solid #cccccc;
    border-radius:2%;
    box-shadow: 2px 2px 5px #333333;

}

.money1{
    padding-top:20px;
    text-align: center;
}

.money1 h3{
    font-size: 1.2em;
    color:#666666;
}

.accent{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    font-size:3.5em;
    color:#222222;

}
.bar{
    width:100%;
    margin:60px auto 0 auto;
    padding-left:15px;
    height: 40px;
    background:#747474;
    color: #ffffff;
    font-size:1.2em;
    line-height: 40px;

}

.ready-money{
    width: 420px;
    margin: 20px auto 20px auto;

}

.ready-money ul{
    list-style:none;
    border-bottom: 1px dashed #cccccc;
    height: 60px;

}
.ready-money ul:last-child {
    border-bottom: none;
}
.item-title{
    float:left;
    width: 160px;
    font-weight: bold;
    font-size: 1.5em;
    line-height:60px;
}