<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/basic/textAlign.css">
</head>
<body>
  <h1>텍스트 정렬기법</h1>

  <p class="align-left">
    오늘도 간다. 내일도간다. 모레도 간다. 일주일도간다. 1년도간다. 10년도 간다.오늘도 간다. 내일도간다.
  </p>
  <p class="align-rignt">
    오늘도 간다. 내일도간다. 모레도 간다. 일주일도간다. 1년도간다. 10년도 간다.오늘도 간다. 내일도간다.
  </p>
  <p class="align-center">
    오늘도 간다. 내일도간다. 모레도 간다. 일주일도간다. 1년도간다. 10년도 간다.오늘도 간다. 내일도간다.
  </p>

  <p class="align-justify">
    오늘도 간다. 내일도간다. 모레도 간다. 일주일도간다. 1년도간다. 10년도 간다.

  </p>

</body>
</html>