<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/basic/text-align.css">
</head>
<body>
  <h1>텍스트 정렬 기법</h1>
  <p class="align-left">
    오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다.
  </p>
  <p class="align-right">
    오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다.
  </p>
  <p class="align-center">
    오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다. 일년이 간다. 십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.
  </p>
  <p class="align-justify">
    오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다. 일년이 간다. 십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.
    십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.십년이간다. 백년이간다.
  </p>
</body>
</html>