<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/board/lists.css">
</head>

<body>
    <div id="top-image">
        <img src="/img/boardLists/board-list-topimg.jpg" alt="오늘의 한스">
    </div>
    <div class="notice-font">
    <p>Today's Hans</p>
    <h2>N o t i c e</h2>
    <h3> | 공지사항 | </h3>
    <form class="btn-location" action="/register">
      <input type="submit" float="right" value="글쓰기">
    </form>
      </div>
    <div class="notice">
      <div class="notice-list">
        <table border="1">
          <tr>
            <th align="center" width="100">번호</th>
            <th align="center" width="640">제목</th>
            <th align="center" width="150">작성자</th>
            <th align="center" width="240">등록일자</th>
          </tr>

          <tr th:if="${#lists.isEmpty(lists)}">
            <td colspan="4">
              현재 등록된 게시물이 없습니다!
            </td>
          </tr>
          <tr th:each="board : ${lists}">
            <td align="center" th:text="${board.boardNo}"></td>
            <td align="left"><a th:href="@{|read?boardNo=${board.boardNo}|}" th:text="${board.title}"/></td>
            <td align="right" th:text="${board.writer}"></td>

            <td align="center" th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
          </tr>
        </table>
    </div>
        <div class="search-to">
            <select id="search">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="tc">제목+내용</option>
                <option value="writer">글쓴이</option>
            </select>
            <input type="text">
            <button type="submit">검색</button>
        </div>
    </div>
</body>

</html>