<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</style>
<script>
    $(document).ready(function() {
        var formObj = $("#board");

        $("#btnRegister").on("click", function() {
        formObj.attr("action","register");
        formObj.attr("method","post");
        formObj.submit();
        });

        $("#btnList").on("click",function() {
        self.location = "lists";
        });
    });

</script>
<center>
<body>
<h2>게시글 등록</h2>
<form id="board" th:action="@{register}" th:object="${board}" method="post">
    <table>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title" size=124 th:field="*{title}"></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="writer" size=124 th:field="*{writer}"></td>
        </tr>
        <tr>
            <td>본문</td>
            <td><textarea cols="112" rows="20" name="content" th:field="*{content}"></textarea></td>
        </tr>
    </table>
</form>
<center>
<div>
    <br>
    <button type="submit" id="btnRegister">게시글 등록</button>
    <button type="submit" id="btnList">게시글 목록 보기</button>
</div>
</center>
</body>
</center>
</html>