<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main/home.css">
</head>
<body>
    <h1><img src="/img/main/main.png" alt="오늘의 한스"></h1>
    <div class="container">
        <div>
            <nav>
                <ul>
                    <li>
                        <img src="/img/main/menu.png" width="50" height="50"><br>
                        <strong>MENU</strong>
                        <ul>
                            <div class="menu">
                                <li>About</li>
                                <li>Rooms</li>
                                <li>Special</li>
                                <li>Reservation</li>
                                <li><a href="/lists">Board</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>