<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main/home.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <h1><img src="/img/main/main.png" alt="오늘의 한스"></h1>
    <div class="container">
        <div class="btn-center">
            <input type="button" v-on:click="menuOpen()" class="img-menu">
            <p><strong>MENU</strong></p>
            <div id="category" style="visibility : hidden">
                <ul>
                    <li>About</li>
                    <li>Rooms</li>
                    <li>Special</li>
                    <li>Reservation</li>
                    <li>Board</li>
                </ul>
            </div>
        </div>
    </div>
<script src="/js/main.js"></script>
</body>
</html>