<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td{
        border :1px solid #000000;
    }
    th{
        padding: 15px;
    }
    tr > td:nth-child(odd){
        width: 120px;
    }
    tr > td:nth-child(even){
        width: 300px;
    }
  </style>
</head>

<body>
<table>
    <h1>간단한 자기소개~!</h1>
    <img src="zzz.jpg" width="300, heigh=300">
    <p>마카롱 만들면서 찍었어요~</p>

    <tr>
        <th>Name</th>
        <td>DOHYE KIM</td>
        <th>Contact</th>
        <td>000-0000-0000</td>
    </tr>
    <tr>
    <th>Address</th>
    <td colspan="3">서울특별시 00구 00동 00번지</td>
    </tr>
    <tr>
        <th>Self Introduction</th>
        <td colspan="3">안녕하세요. 프론트엔드 공부중입니다.</td>
    </tr>
</table>
</body>
</html>