<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
    border : 1px solid #000000;
    }
    td, th{
    padding : 10px;
    }
  </style>
</head>
<body>
<table>
  <caption>
    <strong>이력서</strong>
    <p>누구도 나를 멈출 수 없다 다 비켜라</p>
  </caption>
  <tr>
    <th>Browser</th>
    <th>Vendor</th>
    <th>Download</th>
  </tr>
  <tr>
    <th>Fistfox</th>
    <th>Mozilla</th>
    <th>http://www.mozilla.org/ko/firefox</th>
  </tr>
</table>
</body>
</html>