div {
    width: 250px;
    height: 300px;
    margin: 20px;
    display: block;
    border: 2px solid;
    border-radius: 70px/40px;/* 라운딩을 통해 약간 둥글게 */
}
.bg {
    backgriund: url(/img/mark1.jph) no-repeat;
    background-size: cover;
}