<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--//SeventhController 추가 내용. 게시물 본문 보기 등-->
<script>
    $(document).ready(function() {

    //// 아래 #boardfree를 #boardFree로 바꿔주니 작동하네
    //// id값 스펠링 주의하자
        var formObj = $("#boardfree");
        $("#btnModify").on("click", function() {
            // 아래 절차를 통해 실제 boardNo 값을 획득한다.
            // var : 생성한 데이터 소스를 저장할 변수명
            var boardNo = $("#boardNo");
            var boardNoVal = boardNo.val();

            self.location = "modify?boardNo=" + boardNoVal;
        });

           //method default 값은 post
        $("#btnRemove").on("click", function() {
            formObj.attr("action", "removeFree");
            formObj.submit();
        });

        $("#btnList").on("click", function() {
            self.location = "listsFree";
        });
    });

</script>

<body>
<h2>게시글</h2>

<form id="boardfree" th:object="${boardFree}" method="post">
    <input type="hidden" name="boardNoFree" th:field="*{boardNoFree}"/>

    <table>
        <tr>
            <td>제목</td>
            <td><input type="text" name="titleFree"
                       th:field="*{titleFree}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="writerFree"
                       th:field="*{writerFree}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>본문</td>
            <td><textarea cols="50" rows="20" name="content"
                          th:field="*{contentFree}" readonly="readonly"></textarea></td>
        </tr>
    </table>
</form>

<div>
    <button type="submit" id="btnModify">게시물 수정</button>
    <button type="submit" id="btnRemove">게시물 삭제</button>
    <button type="submit" id="btnList">게시글 목록 보기</button>
</div>
</body>
</html>