<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>게시판 목록 보기</h2>
<a href="/register">글쓰기</a>
<table border="1">
  <tr>
    <th align="center" width="100">번호</th>
    <th align="center" width="640">제목</th>
    <th align="center" width="150">작성자</th>
    <th align="center" width="240">등록일자</th>
  </tr>
  <!-- lists.isEmpty()는 Thymeleaf 전용 검사 매서드 -->
  <tr th:if="${#lists.isEmpty(lists)}">
    <td colspan="4">
      현재 등록된 게시물이 없습니다!
    </td>
  </tr>
  <tr th:each="board : ${lists}">
    <td align="center" th:text="${board.boardNo}"></td>
    <!-- |read?boardNo=${board.boardNo}| 는 결국 아래를 의미함
         read?boardNo=1, read?boardNo=3, read?boardNo=7 형태로
         게시물 번호에 해당하는 값을 셋한다고 보면됨 -->
    <td align="left"><a th:href="@{|read?boardNo=${board.boardNo}|}" th:text="${board.title}"/></td>
    <td align="right" th:text="${board.writer}"></td>
    <!-- dates.format()은 특정한 형식으로 날짜를 표현해줌
         아래 예는 연-월-일 시:분:초 형식임 -->
    <td align="center" th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
  </tr>
</table>
</body>
</html>