div {
    margin: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
#inline img {
    /*디폴트가 display: inline*/
    margin: 10px;
}
#block img {
    /*디폴트가 display: block은 세로로나온다*/
    display: block;
    margin:10px;
}

