<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/interest.css">
</head>
<body>
    <div class="container">
        <h2>이자 계산기</h2>
        <table id="table">
            <tr>
                <th>년수</th>
                <th>이자+원금</th>
            </tr>
            <tr>
                <td>1년</td>
                <td id="year1"></td>
            </tr>
            <tr>
                <td>3년</td>
                <td id="year3"></td>
            </tr>
            <tr>
                <td>10년</td>
                <td id="year10"></td>
            </tr>
        </table>
    </div>

    <script src="/javascript/interest.js"></script>
</body>
</html>