<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
    <fieldset>
      <legend>
        <ul>
          <li>
            <label for="lectures">교과목</label>
            <select id="lectures">
              <optgroup label="컴퓨터 공학">
                <option value="os">운영체제 개론</option>
                <option value="ddd">도메인주도 개발</option>
                <option value="dp">디자인 패턴</option>
              </optgroup>
              <optgroup label="전자 공학">
                <option value="circuit">회로이론</option>
                <option value="firmware">펌웨어 프로그래밍</option>
              </optgroup>
              <optgroup label="영문학">
                <option value="reading">독해</option>
                <option value="speaking">말하기</option>

              </optgroup>

            </select>
          </li>
        </ul>
      </legend>
    </fieldset>
  </form>

</body>
</html>