<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이력서</title>
</head>
<style>

    td{
    text-align: center;
    }
</style>
<body>
<table border="1 " width="900" height="200">
    <tr>
        <th colspan="8" height="50"><font size="6">이  력  서</font></th>
    </tr>
    <tr>
        <td rowspan="5" width ="110">
        <img src ="1.jpg">
        <th rowspan="3">성 명</th>
    </tr>
    <tr>
        <th colspan="2">한 글</th>
        <td>이 경 환</td>
        <th>생년월일</th>
        <td>1990.04.21</td>
    </tr>
    <tr>
        <th colspan="2">영 문</th>
        <td>LeeKyeongHwan</td>
        <th>E-mail</th>
        <td>airtrade7@naver.com</td>
    </tr>
    <tr>
        <th colspan="3" width="30">연 락 처</th>
        <td>010-6647-1030</td>
        <th>전화번호</th>
        <td>02-465-xxxx</td>
    </tr>
    <tr>
        <th colspan="3" width="30">현 주 소</th>
        <td colspan="7">서울시 광진구 xxx</td>
    </tr>
</table>
    <p>
    <table border="1 " width="900" height="100">
    <tr>
    <th rowspan="4" width="100">학 력</th>
    <th width="150">기간</th>
    <th width="180">학교명</th>
    <th width="180">전공</th>
    <th width="180">졸업여부</th>
    </tr>
    <tr>
        <td height="30"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td height="20"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td height="30"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>
    <p>

    <table border="1 " width="900" height="100">
        <tr>
            <th rowspan="4" width="100">경 력</th>
            <th width="150">기간</th>
            <th width="180">회사명</th>
            <th width="180">담당업무</th>
            <th width="180">퇴직사유</th>
        </tr>
        <tr>
            <td height="30"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td height="30"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td height="30"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </p>
</body>
</html>
