<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- style을 설정하면 전체에 적용됨 -->
    <style>
        p{
            font-size: 16px; /* 글자 크기 */
            line-heigth: 25px; /* 줄 간격 */
        }
    </style>
</head>
<body>
  <h2>Go Language</h2>
  <!-- strong: 강조, b: 강조 -->
  <p><strong>Rust</strong>, C, <b>Java</b>, Python</p>
  <!-- em: 이탤릭체 강조, i: 이탤릭체, br: 줄바꿈-->
  <p><em>Lisp</em>, Fortran, <i>JavaScript</i>, asm<br>
    FPGA Verilog</p>

  <!-- mark: 형광펜 기능(디폴트가 노란색) -->
  <h3>Python Language: <mark>"TensorFlow" ===> "Keras"</mark></h3>
  <!-- span: 줄바꿈 없이 영역을 묶기, style="color: " 글씨 색상 바꾸기 -->
  <p>Machine Learning, <span>Statistics style="color: blue;">Deep Learning,
  SLAM, Signal Processing</span>Statistics</p>
  <!-- style="background-color: " 형광펜의 배경색상 바꾸기 -->
  <h4>Test <mark style="background-color: red;">Driven Development</mark></h4>



</body>
</html>













