<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <style>

    table {
        width: 20%;
        height: 200px;
         background-color:	#FFA500

      }
      table, th, td {
        border: 1px solid #ffffff;
        text-align: center;
      }
      thead {
      background-color: #FF4500;
      }
      tfoot {
      background-color: #7CFC00;
      }
      tbody button {
       background-color: #7FFFD4;
      }






    </style>
</head>
<body>
<table>
    <caption style="color: red">
   kh 리조트 대관안내</caption>
    <thead>
    <tr>
        <th>층</th>
        <th>객실명</th>
        <th>정원</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td rowspan="6">2층</td>
        <td rowspan="2">사랑방</td>
        <td rowspan="2">4명</td>
        <td>평일: 300,000원 <button>예약하기</button></td>


    </tr>
    <tr>
        <td>주말: 500,000원 <button>예약하기</button></td>





    </tr>
    <tr>
        <td rowspan="2">행복방</td>
        <td rowspan="2">6명</td>
        <td>평일: 400,000원 <button>예약하기</button></td>

    </tr>
    <tr>
        <td>주말: 600,000원 <button>예약하기</button></td>
    </tr>
    <tr>
        <td rowspan="2">코딩방</td>
        <td rowspan="2">무제한</td>
        <td>평일: 800,800원 <button>예약하기</button></td>

    </tr>
    <tr>
        <td>주말: 990,000원 <button>예약하기</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="4">코딩방 예약시 커피 무제한 무료 증정!!</th>
    </tr>
    </tfoot>
</table>
</body>
</html>