<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>HTML Table</h2>
    <table>
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>


        </tr>

        <tr>
            <td>홍길동</td>
            <td>39</td>
            <td>남</td>
        </tr>
        <tr>
            <td>신사임당</td>
            <td>59</td>
            <td>여</td>
        </tr>
        <tr>
            <td>이순신</td>
            <td>55</td>
            <td>남</td>
        </tr>



    </table>

</body>
</html>