<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
    border: 1px solid #000000;
    }
    th {
    padding: 15px;    /* 셀 테두리와 내용 사이의 간격 (패딩)*/
    }
    tr > td:nth-child(odd) {
    width: 120px;    /*홀수번째 열의 너비 지정*/
    }
    tr > td:nth-child(even) {
    width: 300px;    /*짝수번째 열의 너비 지정*/
    }
      p{
    font-size: 32px; /* 글자크기*/
    line-height: 25px; /* 줄 간격 */
    }
  </style>
</head>
<body>
<div id="wrap">

<table>
<tr>

    <thead>
    <tr>
       <td><img src="Myface.png"></td><td colspan="6"><p><strong>　　　　　　　　　이력서</strong></td><

    </tr>
    <tr>
        <th>이름</th><td colspan="3">한상우</td><th>주소</th>
        <td>경기도 고양시 일산서구 고양대로...</td>
    </tr>
    <tr>
        <th>생년월일</th><td colspan="3">1996.03.03</td>
        <th>전화번호</th><td>031925$$$$</td>

    </tr>
    <tr>
        <th>전자우편</th><td colspan="3">tkddn5678@naver.com</td>
        <th>휴대폰번호</th><td>01030240106</td>
    </tr>
    <tr>
        <th>학력</th><td colspan="3"><ul>
        <li>한뫼초 졸업</li>
        <li>일산중 졸업</li>
        <Li>일산동고 졸업</Li>
        <Li>김포대학교 졸업</Li>
    </ul></td>
       <th>
           복무여부
       </th>
        <td>16군번 육군 병장 만기제대</td>
    </tr>
    <tr>
        <th>전공</th><td colspan="3">이태리 호텔조리학</td><th>경력사항</th>
        <td>테이블포포 레스토랑 2년 </td>
    </tr>
    <tr>
        <th>결혼여부</th><td colspan="3">미혼</td><th>자격증</th><td>
        <li>운전면허1종</li>
        <li>한식조리기능사</li>
        </td>
    </tr>
    <tr>
        <th>반려동물여부</th><td colspan="3">유</td><th>종</th><td>갱얼쥐</td>
    </tr>
    <tr>
        <th>좋아하는것</th><td colspan="3">어디든 여행가기</td><th>싫어하는것</th><td>코로나</td>
    </tr>

    </thead>

</tr>
</table>
    <img src="img.png">
</div>
</body>
</html>