<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
    border: 1px solid #000000;
    }
    td, th {
    padding: 10px;
    }
  </style>
</head>
<body>
<table>
  <caption>
    <strong>이력서(Resume)</strong>
    <p>나는 강한사람?!</p>
  </caption>
  <tr>
    <th>Chrome</th>
    <th>Google</th>
    <th>https://www.구글점컴</th>
  </tr>
  <tr>
  <th>Firefox</th>
  <th>Mozilla</th>
  <td>https://www.모질라.컴</td>
  </tr>
</table>
</body>
</html>