<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<from>
  <legend>수강신청</legend>
  <ul>
    <li>
      <label for="lectures">교과목</label>
      <select id="lectures">
        <optgroup label="컴퓨터 공학">
          <option value="os">운영체제 개론</option>
          <option value="ddd">도매인 주소 개발</option>
          <option value="tdd">테스트 주소 개발</option>
          <option value="dp">디자인패턴</option>
        </optgroup>
      </select>
    </li>
  </ul>
</from>

</body>
</html>