<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <fieldest>
        <legend>select test</legend>
        <ul>
            <li><lable for="lectures">강좌리스트</lable>
                <select id="lectures">
                    <option value="architecture">컴퓨터 구조론</option>
                    <option value="os">운영체제 개론</option>
                    <option value="electronics">전기/전자 개론</option>
                    <option value="physics">일반 물리학</option>
                    <option value="mathematics">공업 수학</option>
                    <option value="englich">영어</option>
                </select>
            </li>
        </ul>
    </fieldest>
</form>
</body>
</html>