<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이력서</title>
  <style>

  </style>
</head>
<body>
<table>

    <h1> 이력서</h1>
    <br>
    <img src="img2.png" width="150" HEIGHT="150">
    <br>
  <tr>
      <h3> 소개 </h3>
      <ul>
      <li><strong>이름 :</strong> 고재권</li>
      <li><strong>군필여부 :</strong> 군필</li>
      <li><strong>Email :</strong> su_dal@naver.com</li>
      <li><strong>GitHub :</strong> https://github.com/KoJaeKwon</li>
      <li><strong>좌우명 :</strong> 10-1=0</li>
      </ul>
  </tr>
    <br>
    <tr>
        <h3> 학력</h3>
        <ul>
        <li> 고척고등학교</li>
            </ul>
    </tr>
    <br>
 <tr>
     <h3> 회사 경력 </h3>
     <ul>
     <li><strong>브이모터스</strong> (2016 ~ 2017)</li>
     <li><strong>(주)지엠이에스티</strong> (2017 ~ 2021)</li>
         </ul>
 </tr>
    <br>
    <tr>
        <h3> 자격증 </h3>
        <ul>
        <li><strong>자동차정비기능사</strong></li>
            </ul>
    </tr>
</table>

</body>
</html>