<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // document는 현재 웹 상에 떠 있는 페이지 자체를 의미한다고 보면 됨
    $(document).ready(function() {
        // form 태그에 id="board"에 해당하는 객체를 얻어옴
        var formObj = $("#signup");

        // id="btnRegister"를 클릭했을때
        $("#btnRegister").on("click", function() {
            // URL register로 보낸다.
            formObj.attr("action", "register");
            // PostMapping
            formObj.attr("method", "post");
            formObj.submit();
        });
    });
    </script>

<body>
    <h2>회원 가입</h2>

    <form id="signup" th:action="@{register}" th:object="${signUp}" method="post">
    <table>
        <tr>
            <td>아이디</td>
            <td><input type="text" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="text" name="password" th:field="*{password}"></td>
        </tr>
    </table>
</form>

    <div>
        <button type="submit" id="btnRegister">아이디 등록</button>
    </div>
</body>
</html>