<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
    <fieldset>
      <legend>select 테스트</legend>
      <ul>
        <li>
          <label for="lectures">강좌 리스트</label>
          <select id="lectures">
            <option value="architecture">컴퓨터 구조론</option>
            <option value="os">운영체제 개론</option>
            <option value="electronics">전기/전자 개론</option>
            <option value="physics">일반물리학</option>
            <option value="mathematics">공업수학</option>
            <option value="english">영문학</option>
            <option value="spec">자격증 종합 과정</option>
          </select>
        </li>
      </ul>
    </fieldset>
  </form>
</body>
</html>