<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/font">
    골라보자!
      <input type="radio" name="ages" id="teen" value="10대">
      <label for="teen">10대 입니다.</label>
      <input type="radio" name="ages" id="twenty" value="20대">
      <label for="twenty">20대 입니다.</label>
      <input type="radio" name="ages" id="thirty" value="30대">
      <label for="thirty">30대 입니다.</label>
      <input type="radio" name="ages" id="fourty" value="40대">
      <label for="fourty">40대 입니다.</label>
      <input type="submit">
  </form>

</body>
</html>