<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
        ul {
            list-style: none;
        }
        li {
            margin: 20px;
            }
    </style>
</head>
<body>
 <h3>1개만 선택할 수 있다</h3>
 <ul>
   <li>
     <label><input type="radio" name="subject" value="grammer">영문법</label>
       <input type="radio" name="subject" value="grammer">영문법
   </li>
   <li>
       <label><input type="radio" name="subject" value="writting">영작문</label>
       <input type="radio" name="subject" value="writting">영작문
   </li>
   <li>
       <label><input type="radio" name="subject" value="reading">영독해</label>
       <input type="radio" name="subject" value="reading">영독해
   </li>
   <li>
       <label><input type="radio" name="subject" value="listening">영어 듣기</label>
       <input type="radio" name="subject" value="listening">영어 듣기
   </li>
 </ul>

</body>
</html>