<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="container" >
    <div id="whoami" style="width:200px; height:200px; float:left">
      <h1>안녕</h1>
      <p>고양이</p>
    </div>
    <div id="detail" style="width:200px; height:200px; float:left">
      <h1>하세요</h1>
      <p>입니다</p>
    </div>
    <div id="img" style="width:200px; height:200px; float:left">
      <img src="cat.png">
    </div>
    <div style="width:200px; height:200px; float:right">
      <h1>오른쪽 정렬</h1>
      <p>안녕하세용</p>
    </div>
  </div>
</body>
</html>
















