<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        table, th, td {
            border: 1px solid #000000;
        }
        td, th {
            padding: 10px;   /* 셀 테두리와 내용 사이의 간격(패딩) */
        }

    </style>
</head>
<body>
    <caption>
    <strong style="font-size:32px">자기소개서</strong>
    <p style="font-size:22px"> 세상엔 재밌는게 너무 많아! </p>
    </caption>
<table>
    <!-- caption, figcaption을 통해 표에 제목을 붙일 수 있음 -->

    <tr>
        <th>이름</th>
        <td>김창욱</td>

    </tr>
    <tr>
        <th>나이</th>
        <td>27살</td>

    </tr>
    <tr>
        <th>취미</th>
        <td>롤, 클레이 만들기</td>

    </tr>
</table>
    <br>
    <p style="font-size:26px"> 전 시즌 롤 전적</p>
    <img src="lastSeason.jpg" width="800" height="450">
    <br>
    <br>
    <p style="font-size:26px"> 직접 만든 클레이들</p>
    <img src="ledTerrarium1.jpg" width="420" height="590">
    <img src="ledTerrarium2.jpg"width="420" height="590">
    <img src="picoDevimon.jpg" width="420" height="590">

</body>
</html>