<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="all">
  <div id="section1" style="width: 300px; height: 400px; float: left">
    <h1>Hi Everyone~~~</h1>
    <!-- div id에 값을 넣어서 영역이 위치할 크기와 공간을 지정한다 -->
  </div>
  <div id="section2" style="width: 150px; height: 180px; float: left">
    <h1>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</h1>
  </div>
  <div id="img" style="width: 200px; height: 200px; float: left">
    <img src="myDog.png" style="width: 150px; height: 160px;">
    <!-- div로 생성된 공간 안에 사진과 글자를 넣을 수 있다 -->
  </div>
  <div style="width: 130px; height: 200px; float: right">
    <p>아 졸려어ㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓ</p>
  </div>
</div>

</body>
</html>
