<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type ="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    //document 는 현재 웹상에 떠있는 페이지 자체를의미한다고 보면 됨
    $(document).ready(function(){
        var formObj = $("#board");
        //아래 절차를 통해 실제 boardNo 값을 획득한다.
        $("#btnModify").on("click",function(){
            //boardNo라는 태그가 존재한다.
            var boardNo = $("#boardNo");
            var boardNoVal = boardNo.val();

            self.location = "modify?boardNo=" + boardNoVal;
            });

        $("#btnRemove").on("click",function(){
            //action에 default는 post이다.
            //명시적으로 한다면 formObj.attr("method","post")로 적어줄수도 있다.
            formObj.attr("action","remove");
            formObj.submit();
            });

            $("#btnList").on("click",function() {
                self.location = "lists";
                });
    });

</script>
<body>
<h2>게시글</h2>

<form id="board" th:object="${board}" method="post">
  <input type="hidden" name="boardNo" th:field="*{boardNo}"/>

  <table>
    <tr>
      <td>제목</td>
      <td><input type="text" name="title" th:field="*{title}" readonly="readonly"></td>
    </tr>
    <tr>
      <td>작성자</td>
      <td><input type="text" name="writer" th:field="*{writer}" readonly="readonly"></td>
    </tr>
    <tr>
      <td>본문</td>
      <td><textarea cols="50" rows="20" name="content" th:field="*{content}" readonly="readonly"></textarea></td>
    </tr>

  </table>
</form>

<div>
  <button type="submit" id="btnModify">게시물 수정</button>
  <button type="submit" id="btnRemove">게시물 삭제</button>
  <button type="submit" id="btnList">게시글 목록 보기</button>

</div>

</body>
</html>