<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="detail">
      <h2>프로그래밍 언어</h2>
      <ul>
        <li>Golang</li>
        <li>Rust</li>
        <li>C++</li>
        <li>C#</li>
        <li>c</li>
        <li>Assembly</li>
        <li>Verilog</li>
        <li>Python</li>
        <li>Fortran</li>
      </ul>
      <h3 style="visibility: hidden">세부사항</h3>
      <p style="visibility: hidden">많다</p>
      <h3>많음</h3>
      <p>많네</p>
    </div>
</body>
</html>