<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
    <fieldset>
      <legend>
        <ul>
          <li>
            <label for="lectures"></label>
            <select id="lectures" ></select>
            <optgroup label="">컴퓨터 공학</optgroup>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </optgroup>
            <optgroup label ="">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </optgroup>

          </li>
        </ul>
      </legend>
    </fieldset>
  </form>

</body>
</html>