<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
    <fieldset>
      <legend>selettest</legend>
        <ul>
          <li>
            <label for="lectures">강좌리스트</label>
            <select id="lectures">
              <option value="architenture">컴퓨터 구조론</option>
              <option value="os">ㅁㄴㅇㅇ</option>
              <option value="ele">전자</option>
              <option value="phsic">물리학</option>
              <option value="ddsd">ㅈㅂㅇ</option>
              <option value="asdd">ㅂㅈㅇ</option>

            </select>
          </li>
        </ul>
    </fieldset>
  </form>

</body>
</html>