<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/js/prompt.css">
</head>
<body>
    <h1>Hello JavaScript</h1>
    <script>
        // 자바스크립트는 자바처럼 주석달 수 있음
        // prompt(): 화면에 입력창을 띄우기
        // 입력한 내용을 name 변수에 저장
        // javascript는  python처럼 변수 타입 지정이 필요 없음 (var, let으로 알아서 처리)
        // document.write(): HTML 페이지에 지정한 문자열을 표현
        var name = prompt("Enter your name: ");
        document.write("<b><big>" + name + "</big></b> go go go!!");
    </script>
</body>
</html>

















