<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/js/change-color.css">
</head>
<body>
    <h1 id="heading">JavaScript</h1>
    <p id="text">글씨를 클릭하세요!</p>

    <script>
        // 비동기 방식으로 동작
        // document.querySelector(): HTML 내에 있는 id를 찾는 역할
        var heading = document.querySelector('#heading');

        // heading을 클릭하면 heading의 색상을 바꿔라
        heading.onclick = function(){
            heading.style.color = "red";
        }

    </script>
</body>
</html>





















