<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/basic/text-align.css">

</head>
<body>
<h1>테스트 정렬 기법</h1>

<p class="align-left">
  오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐?
</p>
<p class="align-right">
  오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐?
</p>
<p class="align-center">
  오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐? 오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐? 오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐? 오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐? 오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐?
</p>
<p class="align-justify">
  오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐? 오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐? 오늘도 간다. 내일도 간다. 그냥 긴 문장 쓰면 되는 거 아냐?
</p>
</body>
</html>