<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/js/bank.css">
</head>
<body>
  <div class="bank">
      <h2>예상 이자율</h2>
      <div class="bar">
        <p>연 이자율 4%</p>
      </div>
      <ul>
          <li class="title"><p>1년 후</p></li>
          <li class="content" id="year1">xx</li>
      </ul>
      <ul>
          <li class="title"><p>3년 후</p></li>
          <li class="content" id="year3">xx</li>
      </ul>
      <ul>
          <li class="title"><p>10년 후</p></li>
          <li class="content" id="year10">xx</li>
      </ul>
      <script src="/js/bank.js"></script>
  </div>

</body>
</html>