<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/js/dDay.css">
</head>
<body>
  <div class="container">
    <div class="day1">
      <h2>It has passed</h2>
      <p id="accent" class="accent">X days</p>
      <!-- id는 js에서 #으로 처리되고 class는 css에서 .으로 처리된다 -->
    </div>
    <div class="bar">calc Anniversary</div>
    <div class="day2">
      <ul>
        <li class="item-title">100days</li>
        <li class="item-date" id="date100"></li>
      </ul>
      <ul>
        <li class="item-title">200days</li>
        <li class="item-date" id="date200"></li>
      </ul>
      <ul>
        <li class="item-title">365days</li>
        <li class="item-date" id="date365"></li>
      </ul>
      <ul>
        <li class="item-title">500days</li>
        <li class="item-date" id="date500"></li>
      </ul>
    </div>
  </div>
  <script src="/js/dDay.js"></script>

</body>
</html>