<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
          border: 1px solid #000000;
          width: 900px;
          height: 45px;
        }
        th {
          font-size: 20px;
        }

    </style>
</head>
<body>
    <table align="center">
        <h1 align="center">이력서</h1>
        <caption>
            <p align="left"><strong>1.인적사항</strong></p>
        </caption>
        <tr>
            <th>성명</th>
            <td></td>
            <th>영문성명</th>
            <td></td>
            <td rowspan="4"></td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td></td>
            <th>성별</th>
            <td></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td></td>
            <th>휴대전화</th>
            <td></td>
        </tr>
        <tr>
            <th>e-mail</th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td colspan="4"></td>
        </tr>
    </table>
    <br>
    <table align="center">
        <caption>
            <p align="left"><strong>2.학력사항</strong></p>
        </caption>
        <tr>
            <th width="100" rowspan="5">학력사항</th>
            <th>기간</th>
            <th>학교명</th>
            <th>전공</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br>
    <table align="center">
        <caption>
            <p align="left"><strong>3.경력사항</strong></p>
        </caption>
        <tr>
            <th rowspan="3">경력사항</th>
            <th>기간</th>
            <th>직장명</th>
            <th>담당업무</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br>
    <table align="center">
        <caption>
            <p align="left"><strong>4.수상내역</strong></p>
        </caption>
        <tr>
            <th rowspan="3">수상내역</th>
            <th>상훈명</th>
            <th>수상내역</th>
            <th>수상일자</th>
            <th>수여기관</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br>


</body>
</html>
















