<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <fieldset>
    <legend>숫자와 슬라이드</legend>
    <ul>
      <li>
        <lable for="member">멤버숫자<small>(최대 6명)</small></lable>
        <input type="number" id="member" value="1" min="1" max="4" step="1">
      </li>
      <li>
        <lable for="team">팀 매칭<small>(최대 4인 9개팀)</small></lable>
        <input type="number" id="team" value="1" min="1" max="9" step="4">
      </li>
      <li>
        <lable for="slide">슬라이드 테스트</lable>
        <input type="range" id="slide" value="1" min="1" max="25">
      </li>
    </ul>
  </fieldset>
</form>

</body>
</html>