<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container"> <!--div id = container 안에 아래의 div 4개를 포함시켰다. -->
                     <!--float:left 는 왼쪽부터 입력받기 -->
                     <!--float:right 는 오른쪽부터 입력받기 -->
    <div id="whoami" style="width:200px; height:200px; float:left">
        <h1>Name</h1>
        <p>어마마마</p>
    </div>
    <div id="detail" style="width:200px; height:200px; float:left">
        <h1>그 다음 올 단어는?</h1>
        <p>통촉하여 주시옵소서!</p>
    </div>
    <div id="img" style="width:200px; height:200px; float:left">
        <img src="img.png" style="width: 180px; height=: 180px;">
    </div>
    <div style="width:200px; height:200px; float:right">
        <p>부르릉~~!!</p>
    </div>
</div>

</body>
</html>