<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var formObj = $("#productread");

        $("#btnModify").on("click", function() {
            var productNo = $("#productNo");
            var productNoVal = productNo.val();

            self.location = "modify?productNo=" + productNoVal;
        });

        $("#btnRemove").on("click", function() {
            formObj.attr("action", "productremove");
            formObj.submit();
        });

        $("#btnList").on("click", function() {
            self.location = "productlist";
        });
    });
</script>

<body>
<h2>상품 등록</h2>

<form id="productread" th:object="${product}" method="post">
  <input type="hidden" name="productNo" th:field="*{productNo}"/>
  <table>
    <tr>
      <td>상품명</td>
      <td><input type="text" name="name" th:field="*{name}" ></td>
    </tr>
    <tr>
      <td>가격</td>
      <td><input type="number" name="price" th:field="*{price}" ></td>
    </tr>
    <tr>
      <td>상품설명</td>
      <td><input type="text" name="description" th:field="*{description}" ></td>
    </tr>
    <tr>
      <td>작성자</td>
      <td><input type="text" name="writer" th:field="*{writer}" readonly="readonly"></td>
    </tr>
  </table>
</form>

<div>
  <button type="submit" id="btnModify">상품설명 수정</button>
  <button type="submit" id="btnRemove">상품페이지 삭제</button>
  <button type="submit" id="btnList">상품 목록 보기</button>
</div>
</body>
</html>