<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type ="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(fuction(){
        var formObj = $("#userAccount");
        $("#btnRegister").on("click",function(){
            formObj.attr("action","userRegister");
            formObj.attr("method","post");
            formObj.submit();
            });
    });

</script>
<body>
    <h2>회원 가입</h2>
    <!--th:action="@{userRegister}"-->
    <form id="userAccount" th:action="@{userRegister}" th:object="${userAccount}" method="post">
        <tr>
            <td>이름</td>
            <td><input type="text" name="name" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>아이디</td>
            <td><input type="text" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="email" name="email" th:field="*{email}"></td>
        </tr>
        <div>
            <button type="submit" id="btnRegister">회원가입</button>

        </div>
        
    </form>
</body>
</html>