<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {

        var formObj = $("#marketBoard");

        $("#gohomepages").on("click", function() {
        self.location = "homepage";
        });
         });
</script>
<body>

<h3 th:text="${msg}"></h3>
<button id="gohomepages">홈페이지</button>
</body>
</html>