<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- mark : 형광펜 기능 = 디폴트 옐로우 -->
  <h2>Python Language: <mark style="color: red">"TensorFlow" ====> "Keras"</mark></h2>
<!-- span: 줄바꿈 없이 영역을 묶음, style="color: x" 특정 색상으로 만듦 -->
  <p>Machine Learning, <span style="color: blue;">Deep Learning,
  SLAM, Signal Processing, </span>Statistics </p>
<!-- background-color: x : 배경색을 지정하고 싶다면 -->
<h3>Test <mark style="background-color: green;">Driven Development</mark> </h3>
</body>
</html>
