<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      p {
          font-size: 15px; /*글자 크기*/
          line-height: 10px /*줄 간격*/
        }
    </style>
</head>
<body bgcolor="ffffff">
<ul>
    <img src="character.png"
         style="display: block; margin:0 auto;;width: 400; height:400px">
    <h1><mark style="background-color: orange;">소개</mark></h1>
    <p>
        <th><strong>Name</strong></th>
            <td>임초롱 </td></li>
        <th><strong>Birth</strong></th>
            <td>1996.01.05</td>
    </p>
    <p>
        <th><strong>Location</strong></th>
            <td>경기     </td></li>
        <th><strong>Experience</strong></th>
            <td>신입</td>
    </p>
    <tr>
        <li><th><strong>E-mail</strong></th>
            <td>limcho1ong5@naver.com</td></li>
    </tr>
    <tr>
        <li><th><strong>GitHub</strong></th>
            <td>https://github.com/limcholong</td></li>
    </tr>
    <th><h1><mark style="background-color: orange;"> 학력</mark></h1></th>
        <li><th><strong>고등학교 : </strong></th>
            <td>xxx xxx xxx ~  xxx xxx xxx </td></li>
        <li><th><strong>대학교 : </strong></th>
            <td>xxx xxx xxx ~  xxx xxx xxx</td></li>
    <th><h1><mark style="background-color: orange;"> 사용 프로그램 </mark></h1>
         <li><th><strong>abcd : </strong></th></li>
             <td>xxx xxx xxx, xxxx ~ </td></li>
         <li><th><strong>abcd : </strong></th></li>
             <td>xxx xxx xxx, xxxx ~ </td></li>
</ul>

</body>
</html>