<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/js/member-list.css">
</head>
<body>
<h2 id="look-member"></h2>
<div class="container">
  <table border="1" style="margin-left:auto; margin-right:auto;">
    <tr>
      <th align="center" width="160">번호</th>
      <th align="center" width="240">회원 ID</th>
    </tr>
    <tr th:if="${#lists.isEmpty(member)}">
      <td colspan="4">
        현재 등록된 게시물이 없습니다!
      </td>
    </tr>
    <tr th:each="memberElem : ${member}">
      <td align="center" th:text="${memberElem.memberNo}"></td>
      <td align="left"><a th:text="${memberElem.id}"/></td>
    </tr>
  </table>
</div>
<script src="/js/member-list.js"></script>
</body>
</html>