<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var formObj = $("#marketBoard");

        $("#btnModify").on("click", function() {

            var productNo = $("#productNo");
            var productNoVal = productNo.val();

            self.location = "modify?productNo=" + productNoVal;
        });

        $("#btnRemove").on("click", function() {
            formObj.attr("action", "remove");
            formObj.submit();
        });

        $("#btnList").on("click", function() {
            self.location = "lists";
        });
    });
</script>

<body>
<h2>게시글 읽기</h2>

<form id="marketBoard" th:object="${market}" method="post">
    <input type="hidden" name="productNo" th:field="*{productNo}"/>
    <table>
        <tr>
            <td>회원이름</td>
            <td><input type="text" name="username"
                       th:field="*{username}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>상품명</td>
            <td><input type="text" name="name"
                       th:field="*{name}" readonly="readonly"></td>
        </tr>
        <td>가격</td>
        <td><input type="number" name="price"
                   th:field="*{price}" readonly="readonly"></td>
        </tr>

        <td>상품 설명</td>
        <td><textarea cols="15" rows="10"  name="description"
                      th:field="*{description}" readonly="readonly"></textarea></td>
        </tr>
    </table>
</form>

<div>
    <button type="submit" id="btnModify">게시물 수정</button>
    <button type="submit" id="btnRemove">게시물 삭제</button>
    <button type="submit" id="btnList">게시글 목록 보기</button>
</div>
</body>
</html>