<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
    border: 1px solid #000000;
    }
    th {
    padding: 10px; /*셀 테두리와 내용 사이의 간격(패딩) */
    }
  </style>
</head>
<body>
<table>
  <!--caption, figcaption을 통해 표에 제목을 붙일 수 있음 -->
  <caption>
    <strong>이력서(Resume)</strong>
    <p>누구도 나를 멈출 수 없다.</p>
    <tr>
      <th>Browser</th>
      <th>Vendor</th>
      <th>Downloads</th>
    </tr>
    <tr>
      <th>Firefox</th>
      <th>Mozilla</th>
      <th>Https://www.mozilla.org/ko/firefox</th>
    </tr>
    <tr>
      <th>Chrome</th>
      <th>Mozilla</th>
      <th>Https://www.google.com/chrome/</th>
    </tr>
  </caption>
</table>

</body>
</html>