<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
</head>
<body>
<table  width="600" height="10">
      <tr>
          <td bgcolor="000000"><p style="color: white" ><font size="5"><strong>NAME</strong></font></p></td>
      </tr>
      <tr>
          <td bgcolor="D5D5D5"><font size="2">Address<br>Phone<br>Email</font></td>
      </tr>
</table>
    <br>
    <table width="600" border="1">
        <tr bgcolor="D5D5D5">
            <th> Education </th>
        </tr>
        <tr>
            <td><p><font size="2">School Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;MMYYYY
                <br>Degree/Major</font></p></td>
        </tr>
        <tr bgcolor="D5D5D5">
            <th> Major Course </th>
        </tr>
        <tr>
            <td><font size="2"><p>
                <li>Course Name</li>
                <li>Course Name</li>
                <li>Course Name</li>
                </p>
            </td>
        </tr>
        <tr bgcolor="D5D5D5">
            <th> Awards & Certificate </th>
        </tr>
        <tr>
            <td><font size="2"><p>
                Awards & Certificate Name
                <li></li>
                Awards & Certificate Name
                <li></li>
                </p>
            </td>
        </tr>
        <tr bgcolor="D5D5D5">
            <th> Language & Computer Skills </th>
        </tr>
        <tr>
            <td><font size="2"><p>
                Language & Computer Skills
                <li></li>
                Language & Computer Skills
                <li></li>
                </p>
            </td>
        </tr>
        <tr bgcolor="D5D5D5">
            <th> Work Experience </th>
        </tr>
        <tr>
            <td><font size="2"><p>
                Company Name,Location &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;MMYYYY-MMYYYY
                <br>
                Job Title
                <li></li>
                <li></li>
                Company Name,Location &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;MMYYYY-MMYYYY
                <li></li>
                <li></li>
                </p>
            </td>
        </tr>
    </table>









</body>
</html>