<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/basic/text-align.css">
</head>
<body>
  <h1>텍스트 정렬 기법</h1>

  <p class="align-left">
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파
  </p>
  <p class="align-right">
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파
  </p>
  <!--내용물이 전체 윤곽을 벗어나더라도 양쪽 사이즈에 맞춰 올바른 간격을 맞춤
      특히 내용이 길어서 윤곽을 벗어나는 상황에서 매우 유용함-->
  <p class="align-justify">
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파 아니야 아닐거야
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파 아니야 아닐거야
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파 아니야 아닐거야
  </p>
  <!--내용물이 짧을경우 center가 문제가없음-->
  <p class="align-center">
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파 아니야 아닐거야야
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파 아니야 아닐거야
    오늘이 지나고 일년이지나고 너에게 연락은 오지를 않았어 눈물이 흘러 가슴이 아파 아니야 아닐거야
 </p>

</body>
</html>