<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      ul {
        list-style: none;
      }
      li {
        margin: 20px;
      }
    </style>
</head>
<body>
  <h3>당신에게 적합한 코스를 선택하세요!</h3>
  <ul>
    <li><input type="checkbox" value="grammer">영문법</li>
    <li><input type="checkbox" value="writting">영작문</li>
    <li><input type="checkbox" value="reading">영독해</li>
    <li><input type="checkbox" value="listening">영어 듣기</li>
  </ul>
</body>
</html>