<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- form의 경우 method 표기를 안하면 자동으로 get -->
  <form action="/test">
    골라보자!
    <input type="radio" name="ages" id="teen" value="10대">
    <label for="teen">10대입니다.</label><br>
    <input type="radio" name="ages" id="twenty" value="20대">
    <label for="twenty">20대입니다.</label><br>
    <input type="radio" name="ages" id="thirty" value="30대">
    <label for="thirty">30대입니다.</label><br>
    <input type="radio" name="ages" id="fourty" value="40대">
    <label for="fourty">40대입니다.</label><br>
    <input type="submit">
  </form>
</body>
</html>