<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      ul {
        list-style: none;
      }
      li {
        margin: 20px;
      }
    </style>
</head>
<body>
  <h3>1개만 선택할 수 있습니다!</h3>
  <ul>
    <!-- input에서 id를 사용할 때 id에 특정 정보를 맵핑하는 목적으로 사용함
         현재로선 별 의미는 없지만 각 행별로 나눈다는 느낌만 가지고 있음 -->
    <label><input type="radio" name="subject" value="grammer">영문법</label>
    <input type="radio" name="subject" value="grammer">영문법
    <label><input type="radio" name="subject" value="writting">영작문</label>
    <input type="radio" name="subject" value="writting">영작문
    <li>
      <label><input type="radio" name="subject" value="reading">영독해</label>
      <input type="radio" name="subject" value="reading">영독해
    </li>
    <li>
      <label><input type="radio" name="subject" value="listening">영어 듣기</label>
      <input type="radio" name="subject" value="listening">영어 듣기
    </li>
  </ul>
</body>
</html>