<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" href="/css/js/d-day.css"> -->
    <link rel="stylesheet" href="/css/js/bank.css">
</head>
<body>
    <div class="container">
        <div class="my-money">
            <h3>수중에 가진 돈</h3>
            <p id="accent" class="accent"><span style="font-style: italic">얼마 ?</span></p>
        </div>
        <div class="bar">예치금 적금 만기</div>
        <div class="ready-money">
            <ul>
                <li class="item-title">1년</li>
                <li class="item-money" id="money1"></li>
            </ul>
            <ul>
                <li class="item-title">3년</li>
                <li class="item-money" id="money3"></li>
            </ul>
            <ul>
                <li class="item-title">10년</li>
                <li class="item-money" id="money10"></li>
            </ul>
        </div>
    </div>
    <script src="/js/bank.js"></script>
</body>
</html>