body{100%; background-color: #1b1b1b;}
*{list-style: none;  text-decoration: none;
box-sizing: border-box;}

header{text-align: center;}
header h1 {position: absolute; left: 50px; top: 0;}
header h1 a {width: 110px; height: 81px;color: red;}
header .spot {position: absolute; right: 50px; top: 0;}
header .lnb li {display: inline-block;}
header .lnb li a{ display: block; height: 81px; padding: 0 35px; font-size: 25px; color: white;
line-height: 55px;}
header .spot {position: absolute; right: 50px; top: 0;}
header .spot li {float: left;}
header .spot li a{display: block; height: 81px; padding: 0 10px;
line-height: 55px; color: white;}
header .spot li:first-child:after {display: none;}
header .spot li:last-child a{padding-right: 0;}

.signup-form {position: relative; z-index: 2;
    position: absolute;
    top: 20%; left: 50%;
    margin-left: -150px;
    margin-top: -80px;
    display: center;
    justify-content: center;
    align-items: center;
}
.signup-form h1{
margin-top: 100px;
    font-size: 32px; color: #fff;
    text-align: center;
    margin-bottom: 60px;
}
.int-area{
    width: 400px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.int-area: first-child{margin-top: 0;}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 19px; color: #fff;
    outline: none;
}
.int-area label{
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: #999;
    transition: top .5s ease;
}
.int-area input:focus + label,
.int-area input:valid + label{
    top: 0;
    font-size: 13px; color: #166cea;
}
.btn-area{margin-top: 30px;}

.btn-area button{
    width: 100%; height: 50px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    }