<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/js/list.css">
</head>
<body>
<div id="container">
  <h2>사용자 정보 등록</h2>
  <form>
    <input type="text" id="name" value="이름">
    <input type="text" id="age" value="나이">
    <input type="text" id="major" value="전공">
    <button type="button" id="add" class="addBtn">추가하기</button>
  </form>
  <div id="userList"></div>
</div>
<script src="js/userList.js"></script>
</body>
</html>