<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/js/sale.css">

</head>
<body>
<ul>
    <li>
        <label for="productPrice">원가</label>
        <input type="text" id="productPrice"> 원
    </li>
    <li>
        <label for="quiz70Password">할인율</label>
        <input type="text" id="rate"> %
    </li>
    <li>
        <button onclick="showPrice()">
            할인율 적용 금액 출력!
        </button>
    </li>
</ul>

    <button onclick="pwCheck()">가입 완료</button>

    <script src="/js/quiz70.js"></script>

</body>
</html>