<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
    <fieldset>
      <legend>수강 신청하시오!</legend>
      <ul>
        <li>
          <label for="lectures">교과목</label>
          <select id="lectures">
            <optgroup label="컴퓨터 공학">
              <option value="os">운영체제 개론</option>
              <option value="ddd">도메인 주도 개발</option>
              <option value="tdd">테스트 주도 개발</option>
              <option value="dp">디자인 패턴</option>
              <option value="vue">뷰</option>
              <option value="react">리액트</option>
            </optgroup>
            <optgroup label="전자 공학">
              <option value="circuit">회로이론</option>
              <option value="firmware">펌웨어 프로그래밍</option>
            </optgroup>
            <optgroup label="경영학">
              <option value="basic">경영학개론</option>
              <option value="marketing">마케팅원론</option>
            </optgroup>
          </select>
        </li>
      </ul>
    </fieldset>
  </form>
</body>
</html>