<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="vueapp">
    <p style="visibility: hidden">우왕 많다.</p>
    <p style="visibility: hidden">오진다.</p>
    <p style="visibility: hidden">켁</p>
    <p style="visibility: hidden">많다.</p>
    <p style="visibility: hidden">살려주세요</p>
    <p style="visibility: hidden">공부할 분량이 너무 많아요</p>
</div>
<button onclick="toggleButton()">보여주세요!</button>

<script src="/js/dom-event-control.js"></script>
</body>
</html>