<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여인준 포트폴리오 연습</title>
</head>
<body>
  <h1>여인준 포트폴리오 연습입니다</h1>
  <img src="img.png">
  <h2 >소개</h2>
  <ul>
    <li>이름 : 여인준</li>
    <li>이메일 : injun0607@naver.com </li>
    <li>깃 허브: https://github.com/injun0607/LectureContents</li>
  </ul>
  <p style="font-size: 20px"><strong>항상 도전하며 새로운 배움에 대한 열정이 있습니다.</strong></p>
  <h2>학력</h2>
  <ul>
    <li>양주 고등학교(2012~2015)</li>
    <li>폴리텍 강서캠퍼스 디지털컨텐츠 전공(2015~2018)</li>
  </ul>
  <h2>활용 가능 기술</h2>
  <ol>
    <li>Front-end</li>
    <ul>
      <li>HTML</li>
      <li>추가예정</li>
      <li>추가예정</li>
    </ul>
    <li>Back-end</li>
    <ul>
      <li>Pyhthon -Django</li>
      <li>Spring</li>
      <li>추가예정</li>
    </ul>
  </ol>
  <h2>프로젝트 이력</h2>
  <ul>
    <li>프로젝트 1</li>
    <li>프로젝트 2</li>
    <li>프로젝트 3</li>
  </ul>
  <h2></h2>

</body>
</html>