<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      ul {
        list-style: 20px;
      }
      li {
        margin: 20px;
        /* 마진은 응답 항목의 바깥 여백이다 */
      }
    </style>
</head>
<body>
    <h3>코스 선택!</h3>
    <ul>
      <li><input type="checkbox" value="grammar">영문법</li>
      <li><input type="checkbox" value="writing">영작문</li>
      <li><input type="checkbox" value="reading">영독해</li>
      <!--인풋 타입이 checkbox면 복수응답 가능, 칸이 네모낳다.-->
    </ul>
</body>
</html>