<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
    <fieldset>
    <!-- fieldset의 용도는 비슷한 내용을 박스로 묶을 때 사용한다 -->
      <legend>Privacy</legend>
      <!-- Privacy는 박스에 이름을 붙인다 -->
      <ul>
        <li>
          <label for="name">Name</label>
          <input type="text" id="name">
        </li>
        <li>
          <label for="email">E-mail</label>
          <input type="text" id="email">
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Information</legend>
      <!-- 필드셋 안에서 박스와 박스의 이름을 넣는 역할이 legend이다 -->
      <ul>
        <li>
          <label for="id">ID</label>
          <input type="text" id="id">
        </li>
        <li>
          <label for="pw">Password</label>
          <input type="text" id="pw">
        </li>
      </ul>
    </fieldset>
  </form>

</body>
</html>