<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
      <fieldset>
        <legend>Guitar Shop</legend>
        <ul>
          <li>
            <label for="brand">Brand</label>
            <select id="brand">
              <optgroup label="Gibson">
                <option value="lpCustom">Les Paul Custom</option>
                <option value="lpTrad">Les Paul Traditional</option>
                <option value="lpStan">Les Paul Standard</option>
              </optgroup>
              <optgroup label="Fender">
                <option value="strat">Stratocaster</option>
                <option value="tele">Telecaster</option>
                <option value="acost">Acoustic</option>
              </optgroup>
            </select>
          </li>
        </ul>
      </fieldset>
    </form>

</body>
</html>