<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    ul {
        list-style: 20px;
      }
      li {
        margin: 20px;
      }
    </style>
</head>
<body>
<h3>1개만 선택!</h3>
<ol>
  <li><label><input type="radio" name="subject" value="grammar">영문법</label></li>
  <li><label><input type="radio" name="subject" value="writing">영작문</label></li>
  <li><label><input type="radio" name="subject" value="reading">영독해</label></li>
  <!-- type이 radio라는 것은 하나만 선택할 수 있다는 뜻이다.-->
</ol>

</body>
</html>