<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/basic/text-align.css">
</head>
<body>
    <h1>텍스트 정렬 기법</h1>

    <p class="align-left">
        오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다.
    </p>
    <p class="align-right">
        오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다.
    </p>
    <!-- 내용물이 짧을 경우엔 center가 문제가 없음 -->
    <p class="align-center">
        오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다.
    </p>
    <!-- 내용물이 전체 윤곽을 벗어날 경우 오동작이 발생함 -->
    <p class="align-center">
        오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다. 일년이 간다. 십년이 간다. 백년이 간다.
        천년이 간다. 만년이 간다. 십만년이 간다. 백만년이 간다. 천만년이 간다. 억년이 간다. 십억년이 간다. 백억년이 간다.
    </p>
    <!-- 내용물이 전체 윤곽을 벗어나더라도 양쪽 사이즈에 맞춰 올바른 간격을 맞춤
         특히 내용이 길어서 윤곽을 벗어나는 상황에서 매우 유용함 -->
    <p class="align-justify">
        오늘도 간다. 내일도 간다. 모레도 간다. 일주일이 간다. 한 달이 간다. 일년이 간다. 십년이 간다. 백년이 간다.
        천년이 간다. 만년이 간다. 십만년이 간다. 백만년이 간다. 천만년이 간다. 억년이 간다. 십억년이 간다. 백억년이 간다.
    </p>
</body>
</html>